# 01 추천 시스템의 개요와 배경

## 추천 시스템의 개요

 하나의 콘텐트츨 선택했을 때 선택된 콘텐츠와 연관된 추천 콘텐츠가 얼마나 사용자의 관심을 끌고 개인에게 맞춘 콘텐츠를 추천했는지는 그 사이트의 평판을 좌우하는 매우 중요한 요소다.
 
 추천 시스템의 진정한 묘미는 사용자 자신도 좋아하는지 몰랐던 취향을 시스템이 발견하고 그에맞는 콘텐츠를 추천해주는 것이다 .이러한 추천 시스템을 접한 사용자는 해당 사이트를 더 강하게 신뢰하게 되어 더 많은 추천 콘텐츠를 선택하게 된다. 결국 더 많은 데이터가 추천 시스템에 축적 되면서 추천이 더욱 정확해지고 다양한 결과를 얻을 수 있는 좋은 선순환 시스템을 구축할 수 있게 된다.
 
 다음과 같은 데이터가 추천 시스템을 구성하는데 사용될 수 있다.

- 사용자가 어떤 상품을 구매했는가?
- 사용자가 어떤 상품을 둘러보거나 장바구니에 넣었는가?
- 사용자가 평가한 영화 평점은? 제품 평가는?
- 사용자가 스스로 작성한 자신의 취향은?
- 사용자가 무엇을 클릭했는가?

## 추천시스템의 유형

추천시스템은 크게 1. 콘텐츠 기반 필터링(Content based filtering)방식과 2. 협업 필터링(Collaborative Filtering) 방식으로 나뉜다. 그리고 협업 필터링 방식은 다시 최근접 이웃(Nearest Neighbor) 협업 필터링과 잠재 요인(Latent Factor) 협업 필터링으로 나뉜다.

추천 시스템의 초창기에는 콘텐츠 기반 필터링이나 최근접 이웃 기반 협업 필터링이 주로 사용됐지만, 그 유명한 넷플릭스 추천 시스템 경연 대회에서 행렬 분해(Matrix Factorization)기법을 이용한 잠재요인 협업 필터링 방식이 우승하면서 대부분의 온라인 스토어에서 잠재 요인 협업 필터링 기반의 추천 시스템을 적용하고 있다. 하지만 서비스하는 아이템의 특성에 따라 콘텐츠 기반 필터링이나 최근접 이웃 기반 협업 필터링 방식을 유지하는 사이트도 많다. 특히 아마존의 경우는 아직도 아이템 기반의 최근접 이웃 협업 필터링 방식을 추천 엔진으로 사용한다. 요즘에는 개인화 특성을 좀 더 강화하기 위해서 하이브리드 형식으로 콘텐츠 기반과 협업 기반을 적절히 결합해 사용하는 경우도 늘고 있다.

# 02 콘텐츠 기반 필터링 추천 시스템

 콘텐츠 기반 필터링 방식은 사용자가 특정한 아이템을 매우 선호하는 경우, 그 아이템과 비슷한 콘텐츠를 가진 다른 아이템을 추천하는 방식이다. 예를 들어 사용자가 특정 영화에 높은 평점을 줬다면 그 영화의 장르, 출연 배우, 감독, 영화 키워드 등의 콘텐츠와 유사한 다른 영화를 추천해주는 방식이다. 다음과 같이 특정 사용자가 '컨택트'라는 영화에 8점(10점 만점), '프로메테우스'에 9점이라는 높은 점수를 줬다고 가정하면, '컨택트'와 '프로메테우스'의 장르,감독, 출연 배우, 키워드 등의 콘텐츠를 감안해 이와 유사한 영화를 추천해 줄 수 있다.
 
 
 # 03 최근접 이웃 협업 필터링 ( NN[ㅊ최근접 이웃] 방식, 잠재요인 방식)
 
 친구들에게 물어보는 것과 유사한 방식으로, 사용자가 아이템에 매긴 평점 정보나 상품 구매 이력과 같은 사용자 행동 양식(User Behavior)만을 기반으로 추천을 수행하는 것이 협업 필터링 방식이다. 협업 필터링의 주요 목표는 사용자-아이템 평점 매트릭스와 같은 축적된 사용자 행동 데이터를 기반으로 사용자가 아직 평가하지 않은 아이템을 예측 평가하는 것이다. (p 567 그림참조)
 
 협업 필터링 기반의 추천 시스템은 최근접 이웃 방식과 잠재 요인 방식으로 나뉘며, 두 방식 모두 사용자-아이템 평점 행렬 데이터에만 의지해 추천을 수행하낟. 협업 필터링 알고리즘에 사용되는 사용자-아이템 평점 행렬에서 행(Row)은 개별 사용자, 열(Column)은 개별 아이템으로 구성되며, 사용자 아이디 행, 아이템 아이디 열 위치에 해당하는 값이 평점을 나타내는 형태가 돼야 한다. 만약 데이터가 레코드 레벨 형태인 사용자-아이템 평점 데이터라면(p567 568 이미지 참조) 판다스의 pivot_table()과 같은 함수를 이용해 그림의 오른쪽과 ㄱ같은 형태인 사용자 아이템 평점 행렬로 변경해야 한다.
 
 일반적으로 이러한 사용자 -아이템 평점 행렬은 많은 아이템을 열로 가지는 다차원 행렬이며, 사용자가 아이템에 대한 평점을 매기는 경우가 많지 않기 때문에 희소 행렬(Sparse Matrix)특성을 가지고 있다.
 
최근접 이웃 협업 필터링은 메모리(Memory) 협업 필터링이라고도 하며, 일반적으로 사용자 기반과 아이템 기반으로 다시 나뉠 수 있/다.

- 사용자 기반(User-User) : 당신과 비슷한 고객들이 다음 상품도 구매했습니다.
- 아이템 기반(Item- Item) : 이 상품을 선택한 다른 고객들은 다음 상품도 구매했습니다.


사용자 기반 최근접 이웃 방식은 특정 사용자와 유사한 다른 사용자를 TOP-N으로 선정해 이 TOP- N 사용자가 좋아하는 아이템을 추천하는 방식이다. 즉, 특정 사용자오 ㅏ타 사용자 간의 유사도(Similarity)를 측정한 뒤 가장 유사도가 높은 TOP- N사용자를 추출해 그들이 선호하는 아이템을 추천하는 것이다.  (P568 569 참조)

 아이템 기반 최근접 이웃 방식은 그 명칭이 주는 이미지 때문에 '아이템 간의 속성'이 얼마나 비슷한지를 기반으로 추천한다고 착각할 수 있다. 하지만 아이템 기반 최근접 이웃 방식은 아이템이 가지는 속성과는 상관없이 사용자들이 그 아이템을 좋아하는지/싫어하는지의 평가 척도가 유사한 아이템을 추천하는 기준이 되는 알고리즘이다.
 

일반적으로 사용자 기반보다는 아이템 깁나 협업 필터링이 정확도가 더 높다. 이유는 비슷한 영화(또는 상품)를 좋아(또는 구입)한다고 해서 사람들의 취향이 비슷하다고 판단하기는 어려운 경우가 많기 때문이다. 매우 유명한 영화는 취향과 관계없이 대부분의 사람이 관람하는 경우가 많고, 사용자들이 평점을 매긴 영화(또는 상품)의 개수가 많지 않은 경우가 일반적인데 이를 기반으로 다른 사람과의 유사도를 비교하기가 어려운 부분도 있다. 따라서 최근접 이웃 협업 필터링은 대부분 아이템 기반의 알고리즘을 적용한다.

텍스트 분석에서 소개된 유사도 측정 방법인 코사인 유사도는 추천 시스템의 유사도 측정에 갖아 많이 적용된다. 추천시스템에 사용되는 데이터는 피처 벡터화된 텍스트 데이터와 동일하게 다차원 희소 행렬이라는 특징이 있으므로 유사도 측정을 위해 주로 코사인 유사도를 이용한다.

# 04 잠재 요인 협업 필터링 

잠재요인 협업 필터링은 사용자-아이템 평점 매트릭스 속에 숨어 있는 잠재 요인을 추출해 추천 예측을 할 수 있게 하는 기법이다 .대규모 다차원 행렬을 SVD와 같은 차원 감소 기법으로 분해하는 과정에서 잠재 요인을 추출하는데, 이러한 기법을 행렬 분해(Matrix Factorization)라고 한다. 행렬 분해 기반의 잠재 요인 협업 필터링은 넷플릭스 경연 대회에서 사용되면서 유명해 졌고 이후 많은 추천 시스템이 행렬 분해에 기반한 잠재 요인 협업 필터링을 적용하고 잇다. 

(P571 이미지 참조)

 잠재 요인 협업 필터링은 사용자-아이템 평점 행렬 데이터만을 이용해 말 그대로 '잠재 요인'을 끄집어 내느 것을 의미한다. '잠재 요인'이 어떤 것인지는 명확히 정의할 수 없다. 하지만 이러한 '잠재요인'을 기반으로 다차원 희소 행렬인 사용자- 아이템 행렬 데이터를 저차원 밀집 행렬의 사용자- 잠재 요인 행렬과 아이템-잠재 요인 행렬의 전치 행렬(즉, 잠재요인- 아이템 행렬)로 분해할 수 있으며, 이렇게 분해된 두 행렬의 내적을 통해 새로운 예측 사용자- 아이템 평점 행렬 데이터를 만들어서 사용자가 아직 평점을 부여하지 않는 아이템에 대한 예측 평점을 생성하는 것이 잠재 요인 협력 필터링 알고리즘의 골자이다. 
 
 잠재 요인 협업 필터링은 숨겨져 있는 '잠재 요인'을 기반으로 분해된 매트릭스를 이용해 사용자가 아직 평가하지 않은 아이템에 대한 예측 평가를 수행하는 것이다. 사용자- 아이템 평점 행렬과 같이 다차원의 매트릭스를 저차원의 매트릭스로 분해하는 기법을 행렬 분해라고 한다.
 
### 행렬 분해의 이해 

(P573 ~575)
행렬 분해는 다차원의 매트릭스를 저차원 매트릭스로 분해하는 기법으로서 대표적으로 SVD(Singular Vector Decomposition), NMF(Non-Negative Matrix Factorization) 등이 있다. Factorization(분해)은 우리말로 '인수분해'를 말하낟. 인수분해는 일반적으로 하나의 복잡한 다항식을 두 개 이상의 좀 더 단순한 인수의 곱으로 분해하는 것을 말한다. 

R 행렬을 P와 Q행렬로 분해하는 방법! 
행렬 분해는 주로 SVD(Singular Value Decomposition)방식을 이용한다. 하지만 SVD는 널(NaN) 값이 없는 행렬에만 적용할 수 있다. R 행렬에는 아직 평점이 되지 않은 많은 널 값이 있기 때문에 P와 Q 행렬을 일반적인 SVD 방식으로 분해할 수가 없다. 이러한 경우에는 확률적 경사 하강법 (SGD, Stochastic Gradient Descent)나 ALS(Alternating Least Squares) 방식을 이용해 SVD를 수행한다.

### 확률적 경사 하강법을 이용한 행렬 분해
(P 576 ~577 참조)

In [1]:
import numpy as np

# 원본 행렬 R 생성, 분해 행렬 P와 Q 초기화, 잠재요인 차원 K는 3 설정. 
R = np.array([[4, np.NaN, np.NaN, 2, np.NaN ],
              [np.NaN, 5, np.NaN, 3, 1 ],
              [np.NaN, np.NaN, 3, 4, 4 ],
              [5, 2, 1, 2, np.NaN ]])
num_users, num_items = R.shape
K=3

# P와 Q 매트릭스의 크기를 지정하고 정규분포를 가진 random한 값으로 입력합니다. 
np.random.seed(1)
P = np.random.normal(scale=1./K, size=(num_users, K))
Q = np.random.normal(scale=1./K, size=(num_items, K))

GET_RMSE()함수는 실제 R행렬이 널이 아닌 행렬 값의 위치 인덱스를 추출해 이 인덱스에 잇는 실제 r행렬 값과 분해된 P,Q를 잉ㅇ해 다시 조합된 예측 행렬 값의 RMSE를 반환.

In [2]:
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
    error = 0
    # 두개의 분해된 행렬 P와 Q.T의 내적으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P, Q.T)
    
    # 실제 R 행렬에서 널이 아닌 값의 위치 인덱스 추출하여 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
      
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)
    
    return rmse

SGD 기반으로 행렬 분해

In [3]:
# R > 0 인 행 위치, 열 위치, 값을 non_zeros 리스트에 저장. 
non_zeros = [ (i, j, R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0 ]

steps=1000
learning_rate=0.01
r_lambda=0.01

# SGD 기법으로 P와 Q 매트릭스를 계속 업데이트. 
for step in range(steps):
    for i, j, r in non_zeros:
        # 실제 값과 예측 값의 차이인 오류 값 구함
        eij = r - np.dot(P[i, :], Q[j, :].T)
        # Regularization을 반영한 SGD 업데이트 공식 적용
        P[i,:] = P[i,:] + learning_rate*(eij * Q[j, :] - r_lambda*P[i,:])
        Q[j,:] = Q[j,:] + learning_rate*(eij * P[i, :] - r_lambda*Q[j,:])

    rmse = get_rmse(R, P, Q, non_zeros)
    if (step % 50) == 0 :
        print("### iteration step : ", step," rmse : ", rmse)

### iteration step :  0  rmse :  3.2388050277987723
### iteration step :  50  rmse :  0.4876723101369648
### iteration step :  100  rmse :  0.1564340384819247
### iteration step :  150  rmse :  0.07455141311978046
### iteration step :  200  rmse :  0.04325226798579314
### iteration step :  250  rmse :  0.029248328780878973
### iteration step :  300  rmse :  0.022621116143829466
### iteration step :  350  rmse :  0.019493636196525135
### iteration step :  400  rmse :  0.018022719092132704
### iteration step :  450  rmse :  0.01731968595344266
### iteration step :  500  rmse :  0.016973657887570753
### iteration step :  550  rmse :  0.016796804595895633
### iteration step :  600  rmse :  0.01670132290188466
### iteration step :  650  rmse :  0.01664473691247669
### iteration step :  700  rmse :  0.016605910068210026
### iteration step :  750  rmse :  0.016574200475705
### iteration step :  800  rmse :  0.01654431582921597
### iteration step :  850  rmse :  0.01651375177473524
### iteration step :  900  rmse :  0.01648146573819501
### iteration step :  950  rmse :  0.016447171683479155

In [4]:
pred_matrix = np.dot(P, Q.T)
print('예측 행렬:\n', np.round(pred_matrix, 3))

예측 행렬:
 [[3.991 0.897 1.306 2.002 1.663]
 [6.696 4.978 0.979 2.981 1.003]
 [6.677 0.391 2.987 3.977 3.986]
 [4.968 2.005 1.006 2.017 1.14 ]]

원본 행렬고 ㅏ비교해 널이 아닌 값은 큰 차이가 나지 않으며, 널인 값은 새로운 예측값으로 채워졌다.

# 05 콘텐츠 기반 필터링 실습- TMDB 5000 영화 데이터 세트

https://www.kaggle.com/tmdb/tmdb-movie-metadata

In [5]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

movies =pd.read_csv('archive/tmdb_5000_movies.csv')
print(movies.shape)
movies.head(1)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [6]:
movies_df = movies[['id','title', 'genres', 'vote_average', 'vote_count',
                 'popularity', 'keywords', 'overview']]

In [7]:
'''
해당 칼럼이 어떻게 되있는지 확인.
'''

pd.set_option('max_colwidth', 100)
movies_df[['genres','keywords']][:1]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp..."

위와같이 genres 칼럼은 여러 개의 개별 장르 데이터를 가지고 있고, 이 개별 장르의 명칭은 딕셔너리 key인 'name으로 추출 할 수 있다. Keywords 역시 마찬가지 구조를 가지고 있다. genres 칼럼의 문자열을 분해해서 개별 장르를 파있너 리스트 객체로 추출한다. 파이썬 ast 모듈의 literal_eval() 함수를 이용하면 문자열을 문자열이 의미하는 list[dict1, dict2] 객체로 만들 수 있다. Series 객체의 apply() 에 literal_eval 함수를 적용해 문자열을 객체로 변환.

In [8]:
from ast import literal_eval

movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

In [11]:
movies_df['genres'].shape

(4803,)

In [12]:
movies_df['genres']

0       [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {...
1            [{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}]
2              [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 80, 'name': 'Crime'}]
3       [{'id': 28, 'name': 'Action'}, {'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': ...
4       [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fic...
                                                       ...
4798            [{'id': 28, 'name': 'Action'}, {'id': 80, 'name': 'Crime'}, {'id': 53, 'name': 'Thriller'}]
4799                                       [{'id': 35, 'name': 'Comedy'}, {'id': 10749, 'name': 'Romance'}]
4800    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}, {'...
4801                                                                                                     []
4802                                                                    [{'id': 99, 'name': 'Documentary'}]
Name: genres, Length: 4803, dtype: object

In [13]:
movies_df['genres'] = movies_df['genres'].apply(lambda x : [ y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [ y['name'] for y in x])
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa..."

### 장르 콘텐츠 유사도 측정

genres 칼럼은 여러 개의 개별 장르가 리스트로 구서오대 있다. 장르별 유사도를 측정하는 가장 간단한 방법은 genres를 문자열로 변경한 뒤 이를 CountVectorizer로 피처 벡터화한 행렬 데이터 값을 코사인 유사도로 비교하는 것이다. gernes 칼럼을 기반으로 하는 콘텐츠 기반 필터링은 다음과 같은 단계로 구현할 수 있다.

- 문자열로 변환된 genres 칼럼을 Count기반으로 피처 벡터화 변환.

- genres 문자열을 피처 벡터화 행렬로 변환한 데이터 세트를 코사인 유사도를 통해 비교한다. 이를 위해 데이터 세트의 레코드별로 타 레코드와 장르에서 코사인 유사도 값을 가지는 객체를 생성한다.

- 장르 유사도가 높은 영화 중에 평점이 높은 순으로 영화를 추천하낟.

먼저, genres 칼럼을 문자열로 변환한 뒤 사이킷런의 CountVectorizer를 이용해 피처 벡터 행렬로 만든 후 genres 칼럼을 apply , lambda 식을 적용해 개별 요소를 공백 문자로 구분하는 문자열로 변환해 별도의 칼럼인 genres_listeral 칼럼으로 저장한다.

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

# CountVectorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환. 
movies_df['genres_literal'] = movies_df['genres'].apply(lambda x : (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:2])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]
 [0.59628479 1.         0.4        ... 0.         0.         0.        ]]

cosine_similarity() 호출로 생성된 genre_sim 객체는 movies_df의 genre_literal 칼럼을 피처 벡터화한 행렬(genre_mat) 데어터의 행(레코드)별 유사도 정보를 가지고 있으며, 결국은 movies_df의 행별 장르 유사도 값을 가지고 있는 것이다. movies_df를 장르 기준으로 콘텐츠 기반 필터링을 수행하려면 movies_df의 개별 레코드에 대해서 가장 장르 유사도가 높은 순으로 레코드를 추출해야 하는데, 이를 위해 앞에서 생성한 genre_sim 객체를 이용.

genre_sim 객체의 기준 행별로 비교 대상이 되는 행의 유사도 값이 높은 순으로 정렬된 행렬의 위치 인덱스 값을 추출하면 된다. 값이 높은 순으로 정렬된 비교 대상 행의 유사도 값이 아니라 비교 대상 행의 위치 인덱스임에 주의해야 하낟. np.argsort()함수를 이용해 argsort()[:, ::-1]을 이용하면 유사도가 높은 순으로 정리된 객체의 비교행 위치 인덱스 값을 간편하게 얻을 수 있다. argsort()[:, ::-1]를 사용해 높은 순으로 정렬된 비교 행 위치 인덱스 값을 가져오고 그중에 0번 레코드의 비교 행 위치 인덱스 값만 샘플로 추출.

In [16]:
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
print(genre_sim_sorted_ind[:1])

[[   0 3494  813 ... 3038 3037 2401]]

이제 genre_sim_sorted_ind 객체는 각 레코드의 장르 코사인 유사도가 가장 높은 순으로 정렬된 타 레코드의 위치 인덱스 값을 가지고 있다. 이 위치 인덱스를 이용해 언제든지 특정 레코드와 코사인 유사도가 높은 다른 레코드를 추출할 수 있다.

## 장르 콘텐츠 필터링을 이용한 영화 추천

In [17]:

"""
장르 유사도에 따라 영화를 추천하는 함수.
"""

def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    
    # 인자로 입력된 movies_df DataFrame에서 'title' 컬럼이 입력된 title_name 값인 DataFrame추출
    title_movie = df[df['title'] == title_name]
    
    # title_named을 가진 DataFrame의 index 객체를 ndarray로 반환하고 
    # sorted_ind 인자로 입력된 genre_sim_sorted_ind 객체에서 유사도 순으로 top_n 개의 index 추출
    title_index = title_movie.index.values
    similar_indexes = sorted_ind[title_index, :(top_n)]
    
    # 추출된 top_n index들 출력. top_n index는 2차원 데이터 임. 
    #dataframe에서 index로 사용하기 위해서 1차원 array로 변경
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)
    
    return df.iloc[similar_indexes]

find_sim_movie() 함수를 이용해 영화 '대부'와 장르별로 유사한 영화 10개를 추천 .

In [18]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather',10)
similar_movies[['title', 'vote_average']]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

영화 평점에 따라 필터링해서 최종 추천하는 방식으로 변경

영화 평점이랑 영화 평점 count에 따라 왜곡된 평점이 나올수 있다. 따라서, 이와같은 왜곡된 평점 데이터를 회피할 수 있도록 평점에 평가 횟수를 반영할 수 있는 새로운 평가 방식이 필요.

IMDB에서는 평가 횟수에 대한 가중치가 부여된 평점(Weighted Rating) 방식을 사용한다. 이 방식을 이용해 새롭게 평점을 부여. 

가중 평점  = (v/(v+m)) * R + (m/(v+m)) *c

- v : 개별 영화에 평점을 투표한 횟수
- m : 평점을 부여하기 위한 최소 투표 횟수
- R : 개별 영화에 대한 평균 평점.
- C : 전체 영화에 대한 평균 평점.


여기서 m 값은 전체 투표 횟수에서 상위 60%에 해당하는 횟수를 기준으로 정함. quantile()을 이용해 m 구함.

In [19]:
movies_df[['title','vote_average','vote_count']].sort_values('vote_average', ascending=False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

In [20]:
C = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(0.6)
print('C:',round(C,3), 'm:',round(m,3))

C: 6.092 m: 370.2

In [21]:
'''
기존 평점을 새로운 가중 평점으로 변경하는 함수를 생성하고 이를 이용해 새로운 평점 정보인 
'vote_weighted' 생성
'''


percentile = 0.6
m = movies_df['vote_count'].quantile(percentile)
C = movies_df['vote_average'].mean()

def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    return ( (v/(v+m)) * R ) + ( (m/(m+v)) * C )   

movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis=1)

In [22]:

#Top 10
movies_df[['title','vote_average','weighted_vote','vote_count']].sort_values('weighted_vote',
                                                                          ascending=False)[:10]

                         title  vote_average  weighted_vote  vote_count
1881  The Shawshank Redemption           8.5       8.396052        8205
3337             The Godfather           8.4       8.263591        5893
662                 Fight Club           8.3       8.216455        9413
3232              Pulp Fiction           8.3       8.207102        8428
65             The Dark Knight           8.2       8.136930       12002
1818          Schindler's List           8.3       8.126069        4329
3865                  Whiplash           8.3       8.123248        4254
809               Forrest Gump           8.2       8.105954        7927
2294             Spirited Away           8.3       8.105867        3840
2731    The Godfather: Part II           8.3       8.079586        3338

top_n의 2배수만큼 후보군으로 선정한 뒤에 weighted_vote 칼럼 값이 높은 순으로 top_n만큼 추출하는 방식으로 find_sim_movie() 함수를 변경. 변경된 fine_sim_movie()를 이용해 다시 한번 '대부'와 유사한 여오하 콘텐츠 기반 필터링 방식으로 추천.

In [23]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    
    # top_n의 2배에 해당하는 쟝르 유사성이 높은 index 추출 
    similar_indexes = sorted_ind[title_index, :(top_n*2)]
    similar_indexes = similar_indexes.reshape(-1)
# 기준 영화 index는 제외
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    # top_n의 2배에 해당하는 후보군에서 weighted_vote 높은 순으로 top_n 만큼 추출 
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather',10)
similar_movies[['title', 'vote_average', 'weighted_vote']]

                            title  vote_average  weighted_vote
2731       The Godfather: Part II           8.3       8.079586
1847                   GoodFellas           8.2       7.976937
3866                  City of God           8.1       7.759693
1663  Once Upon a Time in America           8.2       7.657811
883           Catch Me If You Can           7.7       7.557097
281             American Gangster           7.4       7.141396
4041              This Is England           7.4       6.739664
1149              American Hustle           6.8       6.717525
1243                 Mean Streets           7.2       6.626569
2839                     Rounders           6.9       6.530427

앞의 장르를 기반으로 한 콘텐츠 필터링 예제를 좀 더 다양한 콘텐츠 기반으로 확장할 수 있다. 아쉽지만 다른 콘텐츠 기반으로 확장해 추천 시스템을 고도화하는 부분은 숙제로 남겨두고 이어서, 아이템 기반 최근접 이웃 협업 필터링을 구현한다.

# 06아이템 기반 최근접 이웃 협업 필터링 연습

In [1]:
import pandas as pd
import numpy as np

movies = pd.read_csv('ml-latest-small/ml-latest-small/movies.csv')
ratings = pd.read_csv('ml-latest-small/ml-latest-small/ratings.csv')
print(movies.shape)
print(ratings.shape)

(9742, 3)
(100836, 4)

In [2]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [3]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

협업 필터링은 이 ratings.csv 데이터 세트와 같이 사용자와 아이템 간의 평점(또는 다른 유형의 액션)에 기반해 추천하는 시스템이다. ratings.csv 의 df인 ratings를 이용해 아이템 기반의 최근접 이웃 협업 필터링을 구현.


pivot_table() 함수는 로우 레벨의 값을 칼럼으로 변경하는 데 효과적. pivot_table()에 인자로 columns ='movieId'와 같이 부여하면 movieId 칼럼의 모든 값이 새로운 칼럼 이름으로 변환.

In [6]:
ratings.pivot_table('rating',index='userId', columns='movieId')

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')
ratings_matrix.head(3)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

ratings와 movies를 조인해 title 칼럼을가져온 뒤에 pivot_table()의 인자로 columns에 'movieId'가 아닌 'title'을 입력해 title로 피벗. 이후에 Nan 은 0으로 변환.

In [8]:
# title 컬럼을 얻기 이해 movies 와 조인 수행
rating_movies = pd.merge(ratings, movies, on='movieId')

# columns='title' 로 title 컬럼으로 pivot 수행. 
ratings_matrix = rating_movies.pivot_table('rating', index='userId', columns='title')

# NaN 값을 모두 0 으로 변환
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 영화 간 유사도 산출

이제 변화된 사용자 - 영화 평점 행렬 데이터세트를 이용해 영화 간의 유사도를 측정. 영화 간의 유사도는 코사인 유사도를 기반으로 하고 사이킷런의 cosine_similarity()를 이용해 측정한다.

지금 만든 ratings_matrix 데이터 셋에 cosine_similarity()를 적용하면 영화간 유사도를 측정할 수 없다. cosine_similarity()함수는 행을 기준으로 서로 다른 행을 비교해 유사도를 산출한다. 그런데 ratings_matrix는 userId가 기준인 행 레벨 데이터이므로 여기에 cosine_similarity()를 적용하면 영화 간의 유사도가 아닌 사용자 간의 유사도가 만들어진다. 영화를 기준으로 cosine_similarity()를 적용하려면 현재의 ratings_matrix가 행 기준이 영화가 되고 열 기준이 사용자가 돼야 한다. 그렇게 하려면 ratings_matrix 데이터의 행과 열의 위치를 변경하면 되는데, 판다스는 이 같은 전치 행렬 변경을 위해 transpose() 함수를 제공한다. ratings_matrix에 transpose()를 적용해 행과 열을 서로 바꾼 새로운 행렬을 만들자.

In [9]:
ratings_matrix_T = ratings_matrix.transpose()
ratings_matrix_T.head(3)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
from sklearn.metrics.pairwise import cosine_similarity

item_sim= cosine_similarity(ratings_matrix_T, ratings_matrix_T)

item_sim_df= pd.DataFrame(data= item_sim, index= ratings_matrix.columns,
                         columns= ratings_matrix.columns)


print(item_sim_df.shape)
item_sim_df.head(3)

(9719, 9719)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.141653,0.0,...,0.0,0.342055,0.543305,0.707107,0.0,0.0,0.139431,0.327327,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,1.000000,0.707107,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Round Midnight (1986),0.0,0.707107,1.000000,0.0,0.0,0.0,0.176777,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0

In [11]:
item_sim_df["Godfather, The (1972)"].sort_values(ascending=False)[:6]

title
Godfather, The (1972)                        1.000000
Godfather: Part II, The (1974)               0.821773
Goodfellas (1990)                            0.664841
One Flew Over the Cuckoo's Nest (1975)       0.620536
Star Wars: Episode IV - A New Hope (1977)    0.595317
Fargo (1996)                                 0.588614
Name: Godfather, The (1972), dtype: float64

In [12]:
item_sim_df["Inception (2010)"].sort_values(ascending=False)[1:6]

title
Dark Knight, The (2008)          0.727263
Inglourious Basterds (2009)      0.646103
Shutter Island (2010)            0.617736
Dark Knight Rises, The (2012)    0.617504
Fight Club (1999)                0.615417
Name: Inception (2010), dtype: float64

만들어진 아이템 기반 유사도 데이터는 사용자의 평점 정보를 모두 취합해 영화에 따라 유사한 다른 영화를 추천할 수 있게 해준다. 이번에는 이 아이템 기반 유사도 데이터를 이용해 개인에게 특화된(Personalized) 영화 추천 알고리즘을 만들어 보자.

### 아이템 기반 최근접 이웃 협업 필터링으로 개인 영화 추천


(p597~598 참조)
앞 예제에서 만든 아이템 기반의 영화 유사도 데이터는 모든 사용자의 평점을 기준으로 영화의 유사도를 생성했고, 이를 이용해 훌륭한 영화를 추천할 수 있었다. 하지만 이는 개인적인 취향을 반영하지 않고 영화 간의 유사도만을 가지고 추천한 것이다. 이번 절에는 영화 유사도 데이터를 이용해 최근접 이웃 협업 필터링으로 개인에게 최적화된 영화 추천을 구현한다. 개인화된 영화 추천의 가장 큰 특징은 개인이 아직 관람하지 않은 영화를 추천한다는 것이다 .아직 관람하지 않은 영화에 대해서 아이템 유사도와 기존에 관람한 영화의 평점 데이터를 기반으로 해 새롭게 모든 영화의 예측 평점을 계산한 후 높은 예측 평점을 가진 영화를 추천하는 방식이다.


여기에서 나오는 N 값은 아이템의 최근접 이웃 범위 계수를 의미한다. 이는 특정 아이템과 유사도가 가장 높은 Top-N가 다른 아이템을 추출하는 데 사용된다. 먼저 N의 범위에 제약을 두지 않고 모든 아이템으로 가정하고 예측 평점을 구하는 로직을 작성한 뒤에 Top-N 아이템을 기반으로 협업 필터링을 수행하는 로직으로 변경.

In [14]:

# p597 식 참조.
def predict_rating(ratings_arr, item_sim_arr ):
    ratings_pred = ratings_arr.dot(item_sim_arr)/ np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

In [15]:
ratings_pred = predict_rating(ratings_matrix.values , item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index= ratings_matrix.index,
                                   columns = ratings_matrix.columns)
ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.070345,0.577855,0.321696,0.227055,0.206958,0.194615,0.249883,0.102542,0.157084,0.178197,...,0.113608,0.181738,0.133962,0.128574,0.006179,0.212070,0.192921,0.136024,0.292955,0.720347
2,0.018260,0.042744,0.018861,0.000000,0.000000,0.035995,0.013413,0.002314,0.032213,0.014863,...,0.015640,0.020855,0.020119,0.015745,0.049983,0.014876,0.021616,0.024528,0.017563,0.000000
3,0.011884,0.030279,0.064437,0.003762,0.003749,0.002722,0.014625,0.002085,0.005666,0.006272,...,0.006923,0.011665,0.011800,0.012225,0.000000,0.008194,0.007017,0.009229,0.010420,0.084501

예측 평점이 사용자별 영화의 실제 평점과 영화의 코사인 유사도를 내적(dot)한 갑싱기 때문에 기존에 영화를 관람하지 않아 0에 해당했던 실제 영화 평점이 예측에서는 값이 부여되는 경우가 많이 발생한다. 예측 평점이 실제 평점에 비해 작을 수 있다. 이는 내적 결과를 코사인 유사도 벡터 합으로 나누었기 때문에 생기는 현상.


에측 평점과 실제 평점의 오차 MSE 구하기.

In [16]:
from sklearn.metrics import mean_squared_error

# 사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE 를 구함. 
def get_mse(pred, actual):
    # Ignore nonzero terms.
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

print('아이템 기반 모든 인접 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values ))

아이템 기반 모든 인접 이웃 MSE:  9.895354759094706

predict_rating() 함수는 사용자별 영화의 예측 평점을 계산하기 위해 해당 영화와 다른 모든 영화 간의 유사도 벡터를 적용한 것이다. 많은 영화의 유사도 벡터를 이용하다 보니 상대적으로 평점 예측이 떨어졌다.

특정 영화와 가장 비슷한 유사도를 가지는 영화에 대해서만 유사도 벡터를 적용하 함수로 변경한다. predict_rating_topsim(ratings_arr, item_sim_arr, n=20) 함수는 predict_rating() 함수와 유사하지만 N 인자를 가지고 있어서 TOP-N 유사도를 가지는 영화 유사도 벡터만 예측값을 계산하는데 적용. 아쉬운 점은 이러한 계산을 위해서는 개별 예측값을 구하기 위해서 해여,열 별로 FOR 루프를 반복 수행하면서 TOP-N 유사도 벡터를 계산하기 때문에 수행시간이 오래 걸린다. 2분정도 걸리지만 아래 코드는 데이터 크기가 커지면 매우오랠걸린다.

In [18]:
def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
    # 사용자-아이템 평점 행렬 크기만큼 0으로 채운 예측 행렬 초기화
    pred = np.zeros(ratings_arr.shape)

    # 사용자-아이템 평점 행렬의 열 크기만큼 Loop 수행. 
    for col in range(ratings_arr.shape[1]):
        # 유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬의 index 반환
        top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]]
        # 개인화된 예측 평점을 계산
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T) 
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))        
    return pred

In [19]:
ratings_pred = predict_rating_topsim(ratings_matrix.values , item_sim_df.values, n=20)
print('아이템 기반 인접 TOP-20 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values ))


# 계산된 예측 평점 데이터는 DataFrame으로 재생성
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index= ratings_matrix.index,
                                   columns = ratings_matrix.columns)

C:\Users\admin\AppData\Local\conda\conda\envs\kyu3.7\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  # This is added back by InteractiveShellApp.init_path()
C:\Users\admin\AppData\Local\conda\conda\envs\kyu3.7\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  if sys.path[0] == '':

아이템 기반 인접 TOP-20 이웃 MSE:  3.695009387428144

In [20]:
# USER 9번 목록

user_rating_id = ratings_matrix.loc[9, :]
user_rating_id[ user_rating_id > 0].sort_values(ascending=False)[:10]

title
Adaptation (2002)                                                                 5.0
Austin Powers in Goldmember (2002)                                                5.0
Lord of the Rings: The Fellowship of the Ring, The (2001)                         5.0
Lord of the Rings: The Two Towers, The (2002)                                     5.0
Producers, The (1968)                                                             5.0
Citizen Kane (1941)                                                               5.0
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    5.0
Back to the Future (1985)                                                         5.0
Glengarry Glen Ross (1992)                                                        4.0
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)                                     4.0
Name: 9, dtype: float64

In [21]:
'''
사용자가 평점을 주지 않은 영화 리스트 객체로 반환하는 하뭇.
'''

def get_unseen_movies(ratings_matrix, userId):
    # userId로 입력받은 사용자의 모든 영화정보 추출하여 Series로 반환함. 
    # 반환된 user_rating 은 영화명(title)을 index로 가지는 Series 객체임. 
    user_rating = ratings_matrix.loc[userId,:]
    
    # user_rating이 0보다 크면 기존에 관람한 영화임. 대상 index를 추출하여 list 객체로 만듬
    already_seen = user_rating[ user_rating > 0].index.tolist()
    
    # 모든 영화명을 list 객체로 만듬. 
    movies_list = ratings_matrix.columns.tolist()
    
    # list comprehension으로 already_seen에 해당하는 movie는 movies_list에서 제외함. 
    unseen_list = [ movie for movie in movies_list if movie not in already_seen]
    
    return unseen_list

사용자가 영화의 평점을 주지 않은 추천 대상 영화 정보와 predict__rating_topsim()에서 추출한 사용자별 아이템 유사도에 기반한 예측 평점 데이터 세트를 이용해 최종적으로 사용자에게 영화를 추천하는 함수인 recomm_movie_by_userid()를 만든다. 해당 함수는 예측 평점 DataFrmae과 추천하려는 사용자id, 추천 후보 영화 리스트, 추천 상위 영화 개수를 인자로 받아서 사용자가 좋아할 만한 가장 높은 예측 평점을 가진 영화를 추천한다.

In [23]:
def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):
    # 예측 평점 DataFrame에서 사용자id index와 unseen_list로 들어온 영화명 컬럼을 추출하여
    # 가장 예측 평점이 높은 순으로 정렬함. 
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies
    
# 사용자가 관람하지 않는 영화명 추출   
unseen_list = get_unseen_movies(ratings_matrix, 9)

# 아이템 기반의 인접 이웃 협업 필터링으로 영화 추천 
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이타를 DataFrame으로 생성. 
recomm_movies = pd.DataFrame(data=recomm_movies.values,index=recomm_movies.index,columns=['pred_score'])
recomm_movies

                                                    pred_score
title
Shrek (2001)                                          0.866202
Spider-Man (2002)                                     0.857854
Last Samurai, The (2003)                              0.817473
Indiana Jones and the Temple of Doom (1984)           0.816626
Matrix Reloaded, The (2003)                           0.800990
Harry Potter and the Sorcerer's Stone (a.k.a. H...    0.765159
Gladiator (2000)                                      0.740956
Matrix, The (1999)                                    0.732693
Pirates of the Caribbean: The Curse of the Blac...    0.689591
Lord of the Rings: The Return of the King, The ...    0.676711

# 07 - 행렬 분해를 이용한 잠재 요인 협업 필터링 실습

행렬 분해 잠재 요인 협업 필터링은 SVD나 NMF 등을 적용할 수 있는데, 일반적으로 행렬 분해에는 SVD가 자주 사용되지만 사용자-아이템 평점 행렬에는 사용자가 평점을 매기지 않은 널 데이터가 많기 때문에 주로 SGD나 ALS 기반의 행렬 분해를 이용한다. 여기서는 SGD기반의 행렬 분해를 구현하고 이를 기반으로 사용자에게 영화를 ㅜㅊ천한다.


matrix_factoriaztion 함수의 R은 원본 사용자-아이템 평점 행렬이며, K는 잠재 요인의 차원수, steps는 SGD의 반복 횟수 r_lambda 는 L2규제 계수

In [24]:
import numpy as np
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
    error = 0
    # 두개의 분해된 행렬 P와 Q.T의 내적 곱으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P, Q.T)
    
    # 실제 R 행렬에서 널이 아닌 값의 위치 인덱스 추출하여 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
      
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)
    
    return rmse

In [25]:
def matrix_factorization(R, K, steps=200, learning_rate=0.01, r_lambda = 0.01):
    num_users, num_items = R.shape
    # P와 Q 매트릭스의 크기를 지정하고 정규분포를 가진 랜덤한 값으로 입력합니다. 
    np.random.seed(1)
    P = np.random.normal(scale=1./K, size=(num_users, K))
    Q = np.random.normal(scale=1./K, size=(num_items, K))

    break_count = 0
       
    # R > 0 인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장. 
    non_zeros = [ (i, j, R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0 ]
   
    # SGD기법으로 P와 Q 매트릭스를 계속 업데이트. 
    for step in range(steps):
        for i, j, r in non_zeros:
            # 실제 값과 예측 값의 차이인 오류 값 구함
            eij = r - np.dot(P[i, :], Q[j, :].T)
            # Regularization을 반영한 SGD 업데이트 공식 적용
            P[i,:] = P[i,:] + learning_rate*(eij * Q[j, :] - r_lambda*P[i,:])
            Q[j,:] = Q[j,:] + learning_rate*(eij * P[i, :] - r_lambda*Q[j,:])
       
        rmse = get_rmse(R, P, Q, non_zeros)
        if (step % 10) == 0 :
            print("### iteration step : ", step," rmse : ", rmse)
            
    return P, Q

In [26]:
import pandas as pd
import numpy as np

movies = pd.read_csv('ml-latest-small/ml-latest-small/movies.csv')
ratings = pd.read_csv('ml-latest-small/ml-latest-small/ratings.csv')
ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')

# title 컬럼을 얻기 이해 movies 와 조인 수행
rating_movies = pd.merge(ratings, movies, on='movieId')

# columns='title' 로 title 컬럼으로 pivot 수행. 
ratings_matrix = rating_movies.pivot_table('rating', index='userId', columns='title')

In [28]:
rating_movies

,userId,movieId,rating,title,genres
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...
100831,610,160341,2.5,Bloodmoon (1997),Action|Thriller
100832,610,160527,4.5,Sympathy for the Underdog (1971),Action|Crime|Drama
100833,610,160836,3.0,Hazard (2005),Action|Drama|Thriller
100834,610,163937,3.5,Blair Witch (2016),Horror|Thriller
100835,610,163981,3.5,31 (2016),Horror

In [29]:
ratings_matrix

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [30]:
P, Q = matrix_factorization(ratings_matrix.values, K=50, steps=200, learning_rate=0.01, r_lambda = 0.01)
pred_matrix = np.dot(P, Q.T)

### iteration step :  0  rmse :  2.9023619751336867
### iteration step :  10  rmse :  0.7335768591017927
### iteration step :  20  rmse :  0.5115539026853442
### iteration step :  30  rmse :  0.37261628282537446
### iteration step :  40  rmse :  0.2960818299181014
### iteration step :  50  rmse :  0.2520353192341642
### iteration step :  60  rmse :  0.22487503275269854
### iteration step :  70  rmse :  0.20685455302331537
### iteration step :  80  rmse :  0.19413418783028685
### iteration step :  90  rmse :  0.18470082002720403
### iteration step :  100  rmse :  0.17742927527209104
### iteration step :  110  rmse :  0.1716522696470749
### iteration step :  120  rmse :  0.1669518194687172
### iteration step :  130  rmse :  0.16305292191997542
### iteration step :  140  rmse :  0.15976691929679643
### iteration step :  150  rmse :  0.1569598699945732
### iteration step :  160  rmse :  0.15453398186715428
### iteration step :  170  rmse :  0.15241618551077643
### iteration step :  180  rmse :  0.15055080739628307
### iteration step :  190  rmse :  0.1488947091323209

In [31]:
ratings_pred_matrix = pd.DataFrame(data=pred_matrix, index= ratings_matrix.index,
                                   columns = ratings_matrix.columns)

ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,3.055084,4.092018,3.564130,4.502167,3.981215,1.271694,3.603274,2.333266,5.091749,3.972454,...,1.402608,4.208382,3.705957,2.720514,2.787331,3.475076,3.253458,2.161087,4.010495,0.859474
2,3.170119,3.657992,3.308707,4.166521,4.311890,1.275469,4.237972,1.900366,3.392859,3.647421,...,0.973811,3.528264,3.361532,2.672535,2.404456,4.232789,2.911602,1.634576,4.135735,0.725684
3,2.307073,1.658853,1.443538,2.208859,2.229486,0.780760,1.997043,0.924908,2.970700,2.551446,...,0.520354,1.709494,2.281596,1.782833,1.635173,1.323276,2.887580,1.042618,2.293890,0.396941

이제 이렇게 만들어진 예측 사용자- 아이템 평점 행렬 정보를 이용해 개인화된 영화 추천을 한다. 위의 9.6절에서 아이템 기반 최근접 이웃 협업 필터링 실습과 동일한 사용자 아이디 9번에 대한 영화 추천을 이번에는


잠재 요인 협업 필터링으로 추천.!!

In [32]:
def get_unseen_movies(ratings_matrix, userId):
    # userId로 입력받은 사용자의 모든 영화정보 추출하여 Series로 반환함. 
    # 반환된 user_rating 은 영화명(title)을 index로 가지는 Series 객체임. 
    user_rating = ratings_matrix.loc[userId,:]
    
    # user_rating이 0보다 크면 기존에 관람한 영화임. 대상 index를 추출하여 list 객체로 만듬
    already_seen = user_rating[ user_rating > 0].index.tolist()
    
    # 모든 영화명을 list 객체로 만듬. 
    movies_list = ratings_matrix.columns.tolist()
    
    # list comprehension으로 already_seen에 해당하는 movie는 movies_list에서 제외함. 
    unseen_list = [ movie for movie in movies_list if movie not in already_seen]
    
    return unseen_list

In [33]:
def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):
    # 예측 평점 DataFrame에서 사용자id index와 unseen_list로 들어온 영화명 컬럼을 추출하여
    # 가장 예측 평점이 높은 순으로 정렬함. 
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

In [34]:
# 사용자가 관람하지 않는 영화명 추출   
unseen_list = get_unseen_movies(ratings_matrix, 9)

# 아이템 기반의 인접 이웃 협업 필터링으로 영화 추천 
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이타를 DataFrame으로 생성. 
recomm_movies = pd.DataFrame(data=recomm_movies.values,index=recomm_movies.index,columns=['pred_score'])
recomm_movies

                                                    pred_score
title
Rear Window (1954)                                    5.704612
South Park: Bigger, Longer and Uncut (1999)           5.451100
Rounders (1998)                                       5.298393
Blade Runner (1982)                                   5.244951
Roger & Me (1989)                                     5.191962
Gattaca (1997)                                        5.183179
Ben-Hur (1959)                                        5.130463
Rosencrantz and Guildenstern Are Dead (1990)          5.087375
Big Lebowski, The (1998)                              5.038690
Star Wars: Episode V - The Empire Strikes Back ...    4.989601

# 08 - 파이썬 추천 시스템 패키지 (Surprise)

앞에서 다룬 예제 코드는 최적화나 수행 속도 측면에서 좀 더 보완이 필요하다. 추천 시스템은 상업적으로 가치가 크기 때문에 별도의 패키지로 제공되면 매우 활용도가 높을 것이다. 파이썬 기반의 추천 시스템 구축을 위한 전용 패키지 중의 하나인 Surprise를 연습한다. Surprise는 파이썬 기반에서 사이킷런과 유사한 API와 프레임워크를 제공하낟. 따라서 추천 시스템의 전반적인 알고리즘을 이해한다.

Surprise 패키지는 API를 이용해 쉽게 추천 시스템을 구축할 수 있다. 주요 장점은 아래와 같다.

- 다양한 추천 알고리즘, 예를 들어 사용자 또는 아이템 기반 최근접 이웃 협업 필터링, SVD, SVD, NMF 기반의 잠재요인 협업 필터링을 쉽게 적용해 추천 시스템을 구축할 수 있다.

- Surprise의 핵심 API는 사이킷런의 핵심 API와 유사한 API명으로 작성됐다. 예를 들어 fit(), predict() API로 추천 데이터 학습과 예측, train_test_split()으로 추천 학습 데이터 ㅅ ㅔ트와 예측 데이터 세트 분리, cross_validate(), GridSearchCV 클래스를 통해 추천 시슽메을 위한 모델 셀렉션, 평가 , 하이퍼 파라미터 튜닝 등의 기능을 제공한다.

## Surprise를 이용한 추천 시스템 구축

Surpirse 대한 문서
https://surprise.readthedocs.io/en/stable/


아래 코드 예제는 데이터를 학습용과 테스트용 데이터 세트로 분리한 뒤 SVD 행렬 분해를 통한 잠재 요인 협업 필터링을 수행.

In [36]:
from surprise import SVD
from surprise import Dataset # Surprise에서 데이터 로딩은 Dataset클래스를 이용해서 만간능
from surprise import accuracy
from surprise.model_selection import train_test_split

In [37]:
data = Dataset.load_builtin('ml-100k')  # 10만개 평점 가져오기 // vs ml-1m은 100만개 평점데이터 가져오기
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

Dataset ml-100k could not be found. Do you want to download it? [Y/n] Y
Trying to download dataset from http://files.grouplens.org/datasets/movielens/ml-100k.zip...
Done! Dataset ml-100k has been saved to C:\Users\admin/.surprise_data/ml-100k

Surprise에 사용자 - 아이템 평점 데이터를 적용할 때 주의해야할 점은 무비렌즈 사이트에서 내려받은 데이터 파일과 동일하게 로우 레벨의 사용자- 아이템 평점 데이터를 그대로 적용해야 한다는 것이다. 앞에서 로우 레벨의 사용자-아이템 평점 데이터를 아이템 아이디를 컬럼명으로 변환한 형태의 사용자-아이템 평점 행렬 데이터로 변환했다. Surprise는 자체적으로 로우 레벨의 데이터를 칼럼 레벨의 데이터로 변경하므로 원본인 로우 레벨의 사용자-아이템 평점 데이터를 데이터 세트로 적용해야 한다.

이제 SVD로 잠재 요인 협업 필터링을 수행.

In [38]:
data = Dataset.load_builtin('ml-100k') 
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

In [39]:
algo = SVD()
algo.fit(trainset)

In [44]:
trainset

In [41]:
testset

[('120', '282', 4.0),
 ('882', '291', 4.0),
 ('535', '507', 5.0),
 ('697', '244', 5.0),
 ('751', '385', 4.0),
 ('219', '82', 1.0),
 ('279', '571', 4.0),
 ('429', '568', 3.0),
 ('456', '100', 3.0),
 ('249', '23', 4.0),
 ('493', '183', 5.0),
 ('325', '469', 4.0),
 ('631', '682', 2.0),
 ('276', '121', 4.0),
 ('269', '405', 1.0),
 ('159', '1095', 5.0),
 ('385', '965', 4.0),
 ('21', '358', 3.0),
 ('181', '1359', 1.0),
 ('561', '124', 3.0),
 ('658', '1079', 2.0),
 ('354', '269', 4.0),
 ('325', '483', 5.0),
 ('601', '241', 4.0),
 ('409', '1020', 5.0),
 ('801', '300', 5.0),
 ('289', '21', 1.0),
 ('378', '896', 4.0),
 ('609', '294', 2.0),
 ('442', '452', 3.0),
 ('459', '264', 4.0),
 ('739', '333', 4.0),
 ('297', '98', 5.0),
 ('592', '286', 5.0),
 ('313', '820', 2.0),
 ('393', '802', 3.0),
 ('168', '763', 2.0),
 ('293', '17', 2.0),
 ('280', '1063', 3.0),
 ('379', '461', 4.0),
 ('911', '638', 4.0),
 ('216', '368', 2.0),
 ('10', '195', 4.0),
 ('645', '46', 5.0),
 ('83', '412', 1.0),
 ('321', '521', 2.0),
 ('650', '968', 4.0),
 ('58', '216', 3.0),
 ('897', '211', 5.0),
 ('44', '90', 2.0),
 ('487', '652', 5.0),
 ('104', '313', 4.0),
 ('751', '381', 1.0),
 ('20', '252', 4.0),
 ('528', '588', 2.0),
 ('10', '180', 5.0),
 ('492', '923', 5.0),
 ('16', '591', 4.0),
 ('286', '272', 5.0),
 ('496', '98', 4.0),
 ('724', '678', 2.0),
 ('655', '1560', 2.0),
 ('373', '431', 5.0),
 ('326', '514', 3.0),
 ('184', '14', 4.0),
 ('534', '475', 4.0),
 ('753', '499', 3.0),
 ('58', '248', 4.0),
 ('757', '684', 4.0),
 ('405', '732', 5.0),
 ('660', '229', 2.0),
 ('22', '110', 1.0),
 ('42', '274', 5.0),
 ('189', '1404', 5.0),
 ('13', '96', 4.0),
 ('848', '755', 5.0),
 ('832', '258', 3.0),
 ('658', '201', 3.0),
 ('654', '568', 4.0),
 ('556', '48', 5.0),
 ('294', '515', 5.0),
 ('144', '56', 4.0),
 ('350', '98', 4.0),
 ('860', '49', 2.0),
 ('406', '281', 3.0),
 ('608', '22', 4.0),
 ('180', '729', 5.0),
 ('756', '155', 4.0),
 ('532', '918', 4.0),
 ('758', '527', 5.0),
 ('40', '343', 1.0),
 ('290', '43', 3.0),
 ('392', '11', 4.0),
 ('199', '285', 4.0),
 ('452', '496', 5.0),
 ('630', '975', 4.0),
 ('70', '28', 4.0),
 ('67', '833', 4.0),
 ('709', '578', 4.0),
 ('312', '618', 5.0),
 ('700', '173', 5.0),
 ('402', '25', 4.0),
 ('668', '97', 2.0),
 ('557', '887', 3.0),
 ('474', '318', 5.0),
 ('587', '286', 4.0),
 ('327', '344', 4.0),
 ('8', '258', 5.0),
 ('222', '941', 3.0),
 ('273', '304', 3.0),
 ('500', '423', 3.0),
 ('875', '64', 5.0),
 ('486', '831', 3.0),
 ('437', '287', 2.0),
 ('675', '750', 4.0),
 ('449', '763', 2.0),
 ('239', '12', 5.0),
 ('210', '732', 4.0),
 ('62', '14', 4.0),
 ('70', '554', 3.0),
 ('295', '188', 3.0),
 ('899', '64', 4.0),
 ('279', '94', 3.0),
 ('312', '521', 5.0),
 ('268', '241', 3.0),
 ('840', '496', 5.0),
 ('601', '9', 4.0),
 ('544', '750', 3.0),
 ('901', '795', 3.0),
 ('738', '528', 4.0),
 ('15', '930', 2.0),
 ('397', '58', 5.0),
 ('805', '33', 5.0),
 ('450', '1479', 3.0),
 ('334', '896', 5.0),
 ('334', '124', 5.0),
 ('201', '209', 3.0),
 ('362', '689', 5.0),
 ('840', '499', 4.0),
 ('416', '476', 5.0),
 ('512', '186', 5.0),
 ('201', '1267', 3.0),
 ('846', '662', 3.0),
 ('882', '86', 5.0),
 ('886', '1093', 1.0),
 ('166', '258', 4.0),
 ('764', '321', 1.0),
 ('776', '132', 3.0),
 ('8', '127', 5.0),
 ('916', '1113', 4.0),
 ('782', '322', 4.0),
 ('721', '135', 3.0),
 ('13', '22', 4.0),
 ('659', '499', 4.0),
 ('476', '72', 4.0),
 ('558', '936', 5.0),
 ('715', '250', 2.0),
 ('269', '478', 4.0),
 ('389', '503', 3.0),
 ('415', '174', 5.0),
 ('450', '487', 4.0),
 ('567', '47', 4.0),
 ('46', '127', 5.0),
 ('734', '479', 4.0),
 ('251', '117', 4.0),
 ('99', '751', 4.0),
 ('130', '233', 4.0),
 ('194', '91', 3.0),
 ('632', '181', 5.0),
 ('588', '385', 3.0),
 ('600', '1419', 3.0),
 ('707', '1168', 3.0),
 ('194', '143', 3.0),
 ('521', '184', 4.0),
 ('193', '435', 4.0),
 ('105', '269', 4.0),
 ('546', '322', 4.0),
 ('181', '925', 2.0),
 ('634', '985', 4.0),
 ('303', '77', 4.0),
 ('393', '17', 1.0),
 ('653', '819', 3.0),
 ('624', '1089', 2.0),
 ('661', '28', 5.0),
 ('269', '961', 5.0),
 ('431', '332', 3.0),
 ('406', '196', 2.0),
 ('50', '123', 4.0),
 ('405', '554', 1.0),
 ('7', '545', 2.0),
 ('724', '286', 1.0),
 ('217', '797', 4.0),
 ('454', '468', 3.0),
 ('561', '12', 5.0),
 ('116', '285', 4.0),
 ('840', '949', 4.0),
 ('881', '233', 3.0),
 ('815', '629', 4.0),
 ('676', '144', 4.0),
 ('385', '1037', 1.0),
 ('561', '530', 4.0),
 ('297', '32', 4.0),
 ('674', '763', 5.0),
 ('889', '70', 3.0),
 ('170', '258', 3.0),
 ('667', '318', 5.0),
 ('268', '1118', 3.0),
 ('777', '245', 5.0),
 ('716', '28', 5.0),
 ('943', '11', 4.0),
 ('354', '255', 2.0),
 ('793', '597', 3.0),
 ('553', '98', 5.0),
 ('901', '1047', 3.0),
 ('109', '54', 3.0),
 ('448', '750', 5.0),
 ('13', '886', 5.0),
 ('279', '233', 5.0),
 ('127', '230', 5.0),
 ('892', '186', 3.0),
 ('399', '195', 2.0),
 ('454', '185', 2.0),
 ('922', '173', 5.0),
 ('749', '431', 5.0),
 ('44', '318', 5.0),
 ('417', '67', 4.0),
 ('276', '67', 3.0),
 ('796', '479', 4.0),
 ('588', '778', 3.0),
 ('248', '290', 3.0),
 ('752', '331', 4.0),
 ('177', '187', 4.0),
 ('741', '56', 4.0),
 ('259', '772', 4.0),
 ('16', '194', 5.0),
 ('287', '248', 5.0),
 ('485', '328', 2.0),
 ('533', '684', 4.0),
 ('879', '151', 3.0),
 ('907', '1220', 5.0),
 ('218', '33', 4.0),
 ('372', '98', 5.0),
 ('456', '174', 4.0),
 ('70', '399', 4.0),
 ('740', '289', 4.0),
 ('247', '750', 4.0),
 ('449', '558', 4.0),
 ('184', '1117', 2.0),
 ('334', '345', 2.0),
 ('224', '678', 3.0),
 ('621', '128', 4.0),
 ('655', '1490', 2.0),
 ('177', '628', 2.0),
 ('82', '235', 1.0),
 ('561', '735', 3.0),
 ('61', '294', 2.0),
 ('436', '559', 4.0),
 ('463', '14', 1.0),
 ('449', '1005', 5.0),
 ('872', '476', 4.0),
 ('221', '227', 3.0),
 ('286', '97', 4.0),
 ('305', '180', 4.0),
 ('92', '241', 3.0),
 ('159', '748', 3.0),
 ('308', '663', 5.0),
 ('406', '419', 1.0),
 ('301', '2', 2.0),
 ('776', '947', 2.0),
 ('56', '732', 4.0),
 ('774', '174', 3.0),
 ('682', '556', 2.0),
 ('849', '174', 5.0),
 ('221', '272', 5.0),
 ('201', '273', 2.0),
 ('174', '742', 4.0),
 ('90', '221', 4.0),
 ('427', '937', 5.0),
 ('870', '68', 3.0),
 ('537', '848', 3.0),
 ('669', '347', 3.0),
 ('911', '172', 4.0),
 ('591', '709', 4.0),
 ('650', '185', 3.0),
 ('505', '526', 5.0),
 ('709', '38', 3.0),
 ('314', '722', 1.0),
 ('255', '441', 2.0),
 ('378', '200', 3.0),
 ('130', '41', 3.0),
 ('1', '272', 3.0),
 ('268', '108', 3.0),
 ('780', '98', 1.0),
 ('559', '180', 4.0),
 ('276', '403', 4.0),
 ('303', '687', 1.0),
 ('828', '896', 4.0),
 ('634', '269', 4.0),
 ('363', '444', 4.0),
 ('6', '192', 4.0),
 ('734', '724', 3.0),
 ('537', '268', 4.0),
 ('210', '755', 3.0),
 ('577', '655', 4.0),
 ('922', '385', 3.0),
 ('892', '432', 4.0),
 ('200', '205', 4.0),
 ('541', '622', 3.0),
 ('250', '323', 2.0),
 ('23', '710', 4.0),
 ('7', '669', 1.0),
 ('652', '307', 4.0),
 ('622', '101', 5.0),
 ('106', '210', 4.0),
 ('533', '203', 4.0),
 ('709', '739', 3.0),
 ('749', '157', 3.0),
 ('186', '550', 4.0),
 ('417', '223', 5.0),
 ('346', '216', 3.0),
 ('513', '763', 3.0),
 ('37', '121', 2.0),
 ('268', '264', 3.0),
 ('295', '602', 5.0),
 ('592', '298', 5.0),
 ('755', '310', 4.0),
 ('610', '127', 5.0),
 ('758', '385', 4.0),
 ('6', '423', 3.0),
 ('738', '79', 3.0),
 ('294', '413', 3.0),
 ('54', '252', 3.0),
 ('181', '620', 2.0),
 ('487', '230', 5.0),
 ('174', '276', 5.0),
 ('221', '476', 2.0),
 ('194', '756', 1.0),
 ('117', '475', 5.0),
 ('429', '151', 5.0),
 ('535', '607', 5.0),
 ('33', '288', 4.0),
 ('124', '168', 5.0),
 ('591', '8', 3.0),
 ('94', '293', 4.0),
 ('848', '50', 5.0),
 ('188', '692', 5.0),
 ('880', '180', 5.0),
 ('790', '83', 3.0),
 ('95', '514', 2.0),
 ('880', '201', 4.0),
 ('932', '161', 3.0),
 ('758', '520', 5.0),
 ('251', '294', 3.0),
 ('499', '176', 4.0),
 ('1', '124', 5.0),
 ('579', '258', 5.0),
 ('737', '222', 3.0),
 ('527', '508', 3.0),
 ('236', '729', 5.0),
 ('495', '637', 3.0),
 ('653', '732', 2.0),
 ('759', '222', 5.0),
 ('936', '108', 4.0),
 ('1', '264', 2.0),
 ('405', '673', 5.0),
 ('298', '496', 5.0),
 ('342', '191', 5.0),
 ('392', '319', 5.0),
 ('846', '196', 4.0),
 ('690', '98', 5.0),
 ('684', '1028', 4.0),
 ('582', '121', 3.0),
 ('389', '485', 5.0),
 ('388', '184', 4.0),
 ('59', '622', 4.0),
 ('840', '650', 4.0),
 ('171', '292', 4.0),
 ('184', '478', 4.0),
 ('663', '742', 4.0),
 ('450', '131', 4.0),
 ('95', '1230', 1.0),
 ('48', '1064', 4.0),
 ('533', '191', 4.0),
 ('393', '134', 2.0),
 ('655', '98', 4.0),
 ('318', '229', 1.0),
 ('916', '148', 2.0),
 ('788', '720', 3.0),
 ('7', '614', 5.0),
 ('87', '679', 3.0),
 ('127', '62', 5.0),
 ('560', '281', 3.0),
 ('642', '422', 3.0),
 ('870', '64', 5.0),
 ('709', '282', 5.0),
 ('128', '220', 1.0),
 ('363', '95', 3.0),
 ('794', '257', 4.0),
 ('493', '358', 4.0),
 ('504', '122', 1.0),
 ('579', '289', 2.0),
 ('234', '165', 5.0),
 ('239', '168', 4.0),
 ('291', '1206', 3.0),
 ('303', '616', 4.0),
 ('363', '678', 1.0),
 ('401', '609', 3.0),
 ('14', '920', 4.0),
 ('428', '879', 4.0),
 ('119', '277', 4.0),
 ('479', '528', 4.0),
 ('166', '294', 3.0),
 ('347', '284', 3.0),
 ('580', '282', 5.0),
 ('378', '1438', 3.0),
 ('70', '755', 3.0),
 ('447', '1048', 2.0),
 ('405', '780', 3.0),
 ('11', '228', 3.0),
 ('276', '526', 4.0),
 ('361', '513', 5.0),
 ('682', '562', 2.0),
 ('504', '372', 4.0),
 ('207', '517', 3.0),
 ('551', '710', 5.0),
 ('885', '417', 3.0),
 ('693', '572', 2.0),
 ('642', '254', 4.0),
 ('332', '679', 5.0),
 ('506', '137', 2.0),
 ('846', '479', 4.0),
 ('624', '7', 4.0),
 ('327', '42', 3.0),
 ('650', '380', 2.0),
 ('116', '258', 4.0),
 ('200', '8', 4.0),
 ('144', '516', 2.0),
 ('734', '821', 2.0),
 ('535', '527', 3.0),
 ('851', '333', 5.0),
 ('307', '153', 5.0),
 ('942', '124', 4.0),
 ('749', '200', 4.0),
 ('201', '46', 4.0),
 ('854', '488', 4.0),
 ('213', '125', 5.0),
 ('181', '1379', 1.0),
 ('389', '605', 5.0),
 ('254', '1028', 2.0),
 ('389', '835', 5.0),
 ('925', '559', 3.0),
 ('269', '423', 4.0),
 ('447', '484', 5.0),
 ('533', '673', 3.0),
 ('546', '349', 4.0),
 ('936', '1160', 5.0),
 ('36', '307', 4.0),
 ('474', '68', 3.0),
 ('181', '1382', 1.0),
 ('868', '202', 3.0),
 ('261', '597', 4.0),
 ('42', '411', 4.0),
 ('748', '132', 3.0),
 ('530', '692', 4.0),
 ('444', '50', 5.0),
 ('650', '355', 2.0),
 ('393', '347', 4.0),
 ('621', '197', 4.0),
 ('447', '815', 3.0),
 ('326', '481', 1.0),
 ('317', '748', 5.0),
 ('246', '578', 2.0),
 ('659', '317', 4.0),
 ('378', '135', 2.0),
 ('238', '458', 4.0),
 ('276', '228', 4.0),
 ('851', '71', 4.0),
 ('239', '427', 5.0),
 ('13', '158', 1.0),
 ('495', '679', 3.0),
 ('848', '490', 5.0),
 ('640', '11', 4.0),
 ('587', '339', 3.0),
 ('903', '357', 5.0),
 ('383', '505', 4.0),
 ('435', '1151', 1.0),
 ('354', '32', 3.0),
 ('592', '129', 5.0),
 ('846', '651', 3.0),
 ('42', '141', 3.0),
 ('682', '273', 4.0),
 ('505', '1409', 3.0),
 ('280', '8', 5.0),
 ('379', '649', 4.0),
 ('660', '771', 2.0),
 ('313', '210', 4.0),
 ('571', '657', 4.0),
 ('460', '248', 4.0),
 ('457', '831', 2.0),
 ('632', '609', 3.0),
 ('301', '7', 4.0),
 ('796', '540', 2.0),
 ('83', '479', 5.0),
 ('9', '294', 4.0),
 ('311', '70', 4.0),
 ('94', '235', 4.0),
 ('758', '258', 4.0),
 ('740', '271', 2.0),
 ('579', '676', 3.0),
 ('776', '672', 3.0),
 ('116', '993', 2.0),
 ('344', '462', 2.0),
 ('435', '588', 4.0),
 ('325', '430', 5.0),
 ('487', '49', 4.0),
 ('452', '82', 3.0),
 ('639', '216', 3.0),
 ('130', '1231', 4.0),
 ('479', '272', 4.0),
 ('450', '125', 4.0),
 ('889', '93', 3.0),
 ('194', '25', 2.0),
 ('222', '90', 2.0),
 ('379', '433', 4.0),
 ('148', '529', 5.0),
 ('7', '498', 5.0),
 ('766', '214', 2.0),
 ('264', '1070', 4.0),
 ('674', '315', 3.0),
 ('746', '89', 4.0),
 ('269', '529', 5.0),
 ('926', '258', 4.0),
 ('222', '186', 5.0),
 ('846', '612', 5.0),
 ('682', '300', 2.0),
 ('575', '215', 3.0),
 ('270', '98', 5.0),
 ('426', '1116', 4.0),
 ('889', '190', 3.0),
 ('536', '229', 4.0),
 ('606', '531', 5.0),
 ('321', '197', 5.0),
 ('307', '174', 4.0),
 ('932', '615', 5.0),
 ('784', '331', 4.0),
 ('773', '652', 3.0),
 ('450', '478', 5.0),
 ('92', '980', 3.0),
 ('58', '121', 2.0),
 ('532', '1502', 1.0),
 ('82', '178', 4.0),
 ('860', '159', 3.0),
 ('927', '761', 3.0),
 ('171', '268', 4.0),
 ('655', '1192', 4.0),
 ('537', '61', 4.0),
 ('682', '1089', 2.0),
 ('479', '144', 4.0),
 ('87', '435', 5.0),
 ('624', '124', 4.0),
 ('881', '568', 4.0),
 ('798', '819', 3.0),
 ('704', '1299', 3.0),
 ('932', '109', 2.0),
 ('539', '963', 4.0),
 ('165', '176', 4.0),
 ('373', '142', 3.0),
 ('588', '132', 5.0),
 ('403', '151', 4.0),
 ('223', '993', 4.0),
 ('706', '181', 4.0),
 ('578', '300', 4.0),
 ('345', '1117', 4.0),
 ('620', '125', 2.0),
 ('645', '194', 4.0),
 ('890', '636', 3.0),
 ('650', '378', 3.0),
 ('11', '173', 5.0),
 ('222', '117', 5.0),
 ('474', '97', 5.0),
 ('751', '1661', 1.0),
 ('173', '879', 5.0),
 ('714', '1028', 4.0),
 ('840', '430', 5.0),
 ('196', '13', 2.0),
 ('305', '166', 4.0),
 ('907', '1048', 5.0),
 ('811', '292', 3.0),
 ('766', '494', 3.0),
 ('178', '219', 4.0),
 ('49', '256', 4.0),
 ('312', '1167', 4.0),
 ('671', '553', 5.0),
 ('230', '680', 4.0),
 ('253', '220', 4.0),
 ('770', '123', 3.0),
 ('479', '546', 2.0),
 ('3', '339', 3.0),
 ('201', '281', 2.0),
 ('891', '323', 3.0),
 ('92', '993', 4.0),
 ('7', '191', 5.0),
 ('456', '187', 4.0),
 ('627', '179', 5.0),
 ('846', '604', 4.0),
 ('402', '96', 5.0),
 ('339', '45', 5.0),
 ('405', '234', 5.0),
 ('452', '48', 5.0),
 ('280', '162', 3.0),
 ('59', '926', 1.0),
 ('592', '96', 5.0),
 ('112', '307', 4.0),
 ('435', '271', 4.0),
 ('109', '451', 5.0),
 ('305', '153', 3.0),
 ('560', '246', 5.0),
 ('226', '370', 3.0),
 ('129', '331', 2.0),
 ('696', '1126', 3.0),
 ('141', '1013', 1.0),
 ('707', '419', 3.0),
 ('856', '315', 5.0),
 ('468', '172', 4.0),
 ('95', '1018', 3.0),
 ('288', '272', 5.0),
 ('378', '82', 4.0),
 ('373', '169', 5.0),
 ('539', '487', 3.0),
 ('85', '1021', 3.0),
 ('828', '207', 4.0),
 ('151', '174', 5.0),
 ('279', '1312', 3.0),
 ('406', '195', 5.0),
 ('395', '313', 3.0),
 ('682', '51', 5.0),
 ('119', '762', 4.0),
 ('663', '187', 5.0),
 ('379', '1035', 3.0),
 ('562', '194', 5.0),
 ('474', '487', 4.0),
 ('514', '357', 4.0),
 ('343', '515', 4.0),
 ('16', '471', 3.0),
 ('394', '715', 4.0),
 ('721', '87', 3.0),
 ('311', '604', 3.0),
 ('374', '552', 4.0),
 ('398', '191', 4.0),
 ('271', '242', 4.0),
 ('92', '67', 3.0),
 ('343', '559', 3.0),
 ('638', '211', 4.0),
 ('46', '313', 5.0),
 ('279', '151', 4.0),
 ('144', '55', 4.0),
 ('528', '1618', 1.0),
 ('1', '172', 5.0),
 ('7', '260', 1.0),
 ('374', '288', 4.0),
 ('109', '790', 2.0),
 ('37', '161', 5.0),
 ('361', '14', 4.0),
 ('380', '151', 4.0),
 ('405', '802', 1.0),
 ('736', '1278', 1.0),
 ('867', '132', 3.0),
 ('634', '678', 2.0),
 ('437', '292', 5.0),
 ('592', '79', 4.0),
 ('181', '19', 1.0),
 ('58', '663', 2.0),
 ('459', '1038', 4.0),
 ('918', '135', 1.0),
 ('772', '322', 4.0),
 ('201', '693', 4.0),
 ('711', '161', 4.0),
 ('697', '127', 5.0),
 ('662', '10', 4.0),
 ('347', '290', 3.0),
 ('508', '179', 4.0),
 ('93', '815', 4.0),
 ('533', '182', 3.0),
 ('81', '456', 1.0),
 ('66', '300', 5.0),
 ('868', '219', 2.0),
 ('606', '282', 4.0),
 ('552', '1047', 3.0),
 ('244', '584', 5.0),
 ('279', '1180', 2.0),
 ('916', '193', 4.0),
 ('867', '28', 5.0),
 ('271', '509', 4.0),
 ('862', '208', 2.0),
 ('527', '661', 5.0),
 ('648', '429', 4.0),
 ('911', '506', 3.0),
 ('10', '505', 4.0),
 ('704', '172', 2.0),
 ('297', '430', 1.0),
 ('58', '20', 1.0),
 ('145', '1248', 3.0),
 ('270', '1007', 5.0),
 ('151', '69', 4.0),
 ('426', '655', 4.0),
 ('201', '1422', 2.0),
 ('56', '373', 4.0),
 ('617', '242', 3.0),
 ('280', '232', 3.0),
 ('315', '285', 5.0),
 ('828', '286', 4.0),
 ('312', '194', 4.0),
 ('933', '105', 2.0),
 ('541', '63', 3.0),
 ('493', '168', 5.0),
 ('64', '127', 5.0),
 ('892', '129', 3.0),
 ('196', '110', 1.0),
 ('500', '216', 4.0),
 ('665', '293', 4.0),
 ('927', '380', 5.0),
 ('756', '1031', 2.0),
 ('386', '24', 4.0),
 ('634', '546', 4.0),
 ('305', '98', 4.0),
 ('854', '475', 4.0),
 ('889', '56', 5.0),
 ('276', '245', 3.0),
 ('233', '495', 4.0),
 ('545', '231', 4.0),
 ('344', '291', 3.0),
 ('528', '56', 3.0),
 ('605', '496', 5.0),
 ('595', '880', 3.0),
 ('540', '245', 3.0),
 ('936', '1202', 4.0),
 ('344', '472', 3.0),
 ('338', '204', 3.0),
 ('345', '200', 4.0),
 ('160', '21', 1.0),
 ('145', '275', 2.0),
 ('122', '1074', 4.0),
 ('479', '153', 4.0),
 ('472', '161', 5.0),
 ('752', '340', 4.0),
 ('863', '752', 4.0),
 ('504', '300', 4.0),
 ('701', '286', 4.0),
 ('774', '448', 2.0),
 ('381', '419', 5.0),
 ('305', '285', 5.0),
 ('881', '559', 2.0),
 ('437', '732', 4.0),
 ('363', '959', 1.0),
 ('409', '1392', 1.0),
 ('236', '429', 1.0),
 ('367', '448', 4.0),
 ('340', '66', 5.0),
 ('244', '1136', 3.0),
 ('648', '218', 3.0),
 ('840', '654', 4.0),
 ('253', '518', 5.0),
 ('666', '147', 3.0),
 ('293', '558', 3.0),
 ('397', '878', 1.0),
 ('347', '609', 4.0),
 ('145', '553', 3.0),
 ('65', '7', 1.0),
 ('926', '245', 3.0),
 ('781', '523', 5.0),
 ('228', '327', 1.0),
 ('276', '653', 5.0),
 ('696', '285', 4.0),
 ('592', '900', 4.0),
 ('734', '165', 3.0),
 ('102', '200', 3.0),
 ('296', '144', 4.0),
 ('264', '294', 3.0),
 ('425', '301', 4.0),
 ('5', '371', 1.0),
 ('654', '845', 4.0),
 ('832', '50', 3.0),
 ('7', '106', 4.0),
 ('445', '121', 1.0),
 ('782', '1615', 3.0),
 ('804', '480', 5.0),
 ('896', '387', 2.0),
 ('577', '196', 5.0),
 ('344', '408', 5.0),
 ('204', '300', 3.0),
 ('426', '641', 4.0),
 ('42', '735', 4.0),
 ('405', '391', 1.0),
 ('523', '169', 5.0),
 ('851', '291', 4.0),
 ('805', '148', 2.0),
 ('760', '723', 2.0),
 ('244', '241', 4.0),
 ('850', '56', 1.0),
 ('31', '504', 5.0),
 ('911', '655', 5.0),
 ('597', '286', 3.0),
 ('766', '265', 3.0),
 ('449', '1195', 5.0),
 ('669', '427', 4.0),
 ('488', '193', 3.0),
 ('927', '118', 5.0),
 ('308', '642', 5.0),
 ('709', '470', 3.0),
 ('493', '239', 5.0),
 ('640', '1228', 4.0),
 ('659', '252', 4.0),
 ('637', '740', 2.0),
 ('457', '452', 3.0),
 ('250', '1', 4.0),
 ('715', '732', 3.0),
 ('738', '367', 3.0),
 ('450', '90', 4.0),
 ('643', '65', 4.0),
 ('627', '562', 2.0),
 ('416', '734', 3.0),
 ('532', '750', 5.0),
 ('185', '9', 4.0),
 ('659', '43', 4.0),
 ('560', '111', 3.0),
 ('506', '97', 4.0),
 ('458', '195', 4.0),
 ('693', '157', 4.0),
 ('606', '187', 4.0),
 ('658', '69', 4.0),
 ('354', '170', 4.0),
 ('472', '392', 4.0),
 ('291', '66', 4.0),
 ('897', '369', 4.0),
 ('195', '771', 2.0),
 ('130', '270', 5.0),
 ('712', '73', 5.0),
 ('13', '174', 4.0),
 ('108', '255', 2.0),
 ('936', '100', 4.0),
 ('908', '174', 3.0),
 ('774', '545', 1.0),
 ('486', '292', 4.0),
 ('405', '723', 1.0),
 ('298', '132', 5.0),
 ('312', '8', 5.0),
 ('644', '597', 4.0),
 ('717', '121', 2.0),
 ('416', '931', 3.0),
 ('343', '44', 3.0),
 ('763', '230', 3.0),
 ('327', '92', 4.0),
 ('561', '1119', 3.0),
 ('487', '252', 1.0),
 ('426', '489', 5.0),
 ('130', '569', 3.0),
 ('533', '484', 3.0),
 ('757', '231', 2.0),
 ('406', '508', 4.0),
 ('567', '659', 4.0),
 ('894', '147', 3.0),
 ('269', '679', 1.0),
 ('311', '367', 3.0),
 ('747', '989', 3.0),
 ('835', '505', 3.0),
 ('472', '834', 3.0),
 ('880', '470', 4.0),
 ('450', '400', 3.0),
 ('727', '167', 2.0),
 ('805', '942', 3.0),
 ('90', '322', 4.0),
 ('246', '109', 5.0),
 ('387', '96', 4.0),
 ('1', '17', 3.0),
 ('421', '156', 5.0),
 ('796', '1039', 4.0),
 ('257', '286', 5.0),
 ('244', '172', 4.0),
 ('646', '313', 5.0),
 ('577', '298', 4.0),
 ('942', '1204', 4.0),
 ('621', '143', 2.0),
 ('262', '786', 3.0),
 ('365', '815', 3.0),
 ('745', '286', 1.0),
 ('336', '1118', 4.0),
 ('301', '686', 4.0),
 ('600', '183', 5.0),
 ('749', '73', 4.0),
 ('642', '118', 3.0),
 ('916', '176', 4.0),
 ('537', '1010', 2.0),
 ('537', '482', 4.0),
 ('894', '288', 3.0),
 ('504', '567', 2.0),
 ('400', '304', 4.0),
 ('297', '746', 3.0),
 ('850', '96', 4.0),
 ('921', '24', 3.0),
 ('862', '216', 5.0),
 ('848', '210', 5.0),
 ('43', '566', 3.0),
 ('655', '283', 3.0),
 ('346', '576', 3.0),
 ('432', '257', 5.0),
 ('7', '563', 2.0),
 ('788', '357', 4.0),
 ('280', '1473', 3.0),
 ('751', '174', 4.0),
 ('691', '243', 1.0),
 ('610', '11', 4.0),
 ('295', '395', 4.0),
 ('226', '507', 2.0),
 ('880', '948', 4.0),
 ('163', '286', 3.0),
 ('695', '882', 4.0),
 ('832', '328', 3.0),

In [42]:
data

Surprise에서 추천을 예측하는 메서드는 test()와 predict() 두 개이다. 

test()는 사용자 - 아이템 평점 데이터 세트 전체에 대해서 추천을 예측하는 메서드다. 즉, 입력된 데이터 세트에 대해 추천 데이터 세트를 만들어 준다. predict()는 개별 사용자와 여오하에 대한 추천 평점을 반환해 준다.

In [45]:
'''
출력값에서 was_impossible 이 True면 예측값을 생성할 수 없는 데어티라는 의미이다. 여기서는 모두 False이다.
'''

predictions = algo.test( testset )
print('prediction type :',type(predictions), ' size:',len(predictions))
print('prediction 결과의 최초 5개 추출')
predictions[:5]

prediction type : <class 'list'>  size: 25000
prediction 결과의 최초 5개 추출

[Prediction(uid='120', iid='282', r_ui=4.0, est=3.691991813467798, details={'was_impossible': False}),
 Prediction(uid='882', iid='291', r_ui=4.0, est=3.705707305506705, details={'was_impossible': False}),
 Prediction(uid='535', iid='507', r_ui=5.0, est=4.054191985450693, details={'was_impossible': False}),
 Prediction(uid='697', iid='244', r_ui=5.0, est=3.4039506443621894, details={'was_impossible': False}),
 Prediction(uid='751', iid='385', r_ui=4.0, est=3.2251276456948292, details={'was_impossible': False})]

In [46]:
[ (pred.uid, pred.iid, pred.est) for pred in predictions[:3] ]

[('120', '282', 3.691991813467798),
 ('882', '291', 3.705707305506705),
 ('535', '507', 4.054191985450693)]

In [47]:
# 사용자 아이디, 아이템 아이디는 문자열로 입력해야 함. 
uid = str(196)
iid = str(302)
pred = algo.predict(uid, iid) # predict() 는 (개별 사용자아이디, 아이템 아이디) 꼭 문자열로 입력해야한다!
print(pred)

user: 196        item: 302        r_ui = None   est = 4.14   {'was_impossible': False}

결과처럼 predict()는 개별 사용자와 아이템 정보를 입력하면 추천 예측 평점을 est로 반환.

test()메서드는 입력 데이터 세트의 모든 사용자와 아이템 아이디에 대해서 predict()를 반복적으로 수행한 결과라고 생각하면 된다.

In [48]:
accuracy.rmse(predictions)

RMSE: 0.9492

0.9491839577460947

Surprise의 accuracy 모듈은 RMSE, MSE 등의 방법으로 추천 시스템의 성능 평가 정보를 제공한다.

## Surpirse  주요 모듈 소개


Surprise는 user_id(사용자 아이디), item_id(아이템 아이디), rating(평점) 데이터가 로우 레벨로 된 데이터 세트만 적용할 수 있다. 데이터의 첫 번째 칼럼을 사용자 아이디, 두번째 칼럼을 아이템 아이디, 세 번째 칼럼을 평점으로 가정해 데이터를 로딩하고 네 번째 칼럼부터는 아예 로딩을 수행하지 않는다. 예를 들어 user_id, item_id, rating, time_stamp 필드로 구분된 데이터라면 앞 3개 필드만 로딩하고 이후 time_stamp 필드는 로딩에서 제외된다. 무비렌즈 아카이브 서버에서 자동으로 내려받는 데이터 파일 뿐만아니라 일반 데이터 팡리나 판다스 df에서도 로딩할 수 있다. 단, 데이터 세트의 칼럼 순서가 사용자 아이디, 아이템 아이디, 평점 순으로 반드시 돼 있어야 한다!!

   API 명                              내용

- Dataset.load_builtin( name='ml-100k')   : 무비렌즈 아카이브 FTP 서버에서 무비렌즈 데이터를 내려받는다. ml-100k, ml-1M를 내려받을 수 있다 .일단 내려받은 데이터는 .surprise_data 디렉터리 밑에 저장되고, 해당 디렉터리에 데이터가 있으면 FTP에서 내려받지 않고 해당 데이터를 이용한다. 입력 파라미터인 name으로 대상 데이터가 ml-100Kㅇ니지 ml-1m인지를 입력한다. (name='ml-100k'). 디폴트는 ml-100k.

- Dataset.load_from_file(file_path,reader) : OS 파일에서 데이터를 로딩할 때 사용하낟. 콤마, 탭 등으로 칼럼이 분리된 포맷의 OS파일에서 데이터를 로딩한다. 입력 파라미터로 OS 파일명, Reader로 파일의 포맷을 지정한다.

- Dataset.load_from_df(df,reader) : 판다스의 DataFrame에서 데이터를 로딩한다. 파라미터로 DataFrame을 입력받으며 DataFrame 역시 반드시 3개의 칼럼인 사용자 아이디, 아이템 아이디, 평점 순으로 칼럼 순사가 정해져 있어야 한다. 입력 파라미터로 DataFrame 객체, Reader로 파일의 포맷을 지정한다.

#### os 파일 데이터를 Surprise 데이터 세트로 로딩

Surprise에 OS 파일을 로딩할 때의 주의할 점은 로딩되는 데이터 파일에 칼럼명을 가지는 헤더 문자열이 있어서는 안된다.

In [51]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ml-latest-small/ratings.csv')
# ratings_noh.csv 파일로 unload 시 index 와 header를 모두 제거한 새로운 파일 생성.  
ratings.to_csv('ml-latest-small/ml-latest-small/ratings_noh.csv', index=False, header=False)

In [52]:
from surprise import Reader

# rating_scale은 평점단위. 평점단위는 0.5, 최대 5점으로 설정이라는 뜻.
reader = Reader(line_format='user item rating timestamp', sep=',', rating_scale=(0.5, 5))
data=Dataset.load_from_file('ml-latest-small/ml-latest-small/ratings_noh.csv',reader=reader)

In [54]:
print(data)

<surprise.dataset.DatasetAutoFolds object at 0x000001401C2C68C8>

Surprise 데이터 세트는 기본적으로 무비렌즈 데이터 형식을 따르므로 무비렌즈 데이터 형식이 아닌 다른 OS파일의 경우 Reader 클래스를 먼저 설정해야 한다. Reader 클래스의 주요 생성 파라미터는 다음과 같다.

- line_format(string ) : 칼럼을 순서대로 나열. 입력된 문자열을 공백으로 분리해 칼럼으로 인식.

- sep (char) : 칼럼을 분리하는 분리자이며, 디폴트는 '\t' 판다스 df에서 입력받을 경우에는 기재할 필요 없음.

- rating_scale(tuple, optional) : 평점 값의 최소 ~ 최대 평점을 설정. 디폴트는(1,5) ratings.csv파일의 경우는 최소 평점 0.5 최대 5.0 이므로 (0.5,5)로설정.


이제 SVD 행렬 분해 기법을 ㅣㅇ용해 추천을 예측. 잠재 요인 크기 K값을 나타내는 파라미터인 n_factors =50 설정. 데이터를 학습한 뒤 테스트 데이터 세트를 적용해 예측 평점을 구함. 예측 평점과 실제 평점 데이터를 rmse로 평가

In [55]:
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

# 수행시마다 동일한 결과 도출을 위해 random_state 설정 
algo = SVD(n_factors=50, random_state=0)

# 학습 데이터 세트로 학습 후 테스트 데이터 세트로 평점 예측 후 RMSE 평가
algo.fit(trainset) 
predictions = algo.test( testset )
accuracy.rmse(predictions)

RMSE: 0.8682

0.8681952927143516

#### 판다스 df에서 Surprise 데이터 세트로 로딩

Dataset.load_from_df() 를 이용하면 판다스 df에서도 Surprise 데이터 세트로 로딩할 수 있다. 주의할 점은 df 역시 사용자 아이디, 아이템 아이디, 평점 칼럼 순서를 지켜야 한다는 것.

In [56]:
import pandas as pd
from surprise import Reader, Dataset

ratings = pd.read_csv('ml-latest-small/ml-latest-small/ratings.csv') 
reader = Reader(rating_scale=(0.5, 5.0))

# ratings DataFrame 에서 컬럼은 사용자 아이디, 아이템 아이디, 평점 순서를 지켜야 합니다. 
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

algo = SVD(n_factors=50, random_state=0)
algo.fit(trainset) 
predictions = algo.test( testset )
accuracy.rmse(predictions)

RMSE: 0.8682

0.8681952927143516

## Surprise 추천 알고리즘 클래스

 클래스 명과 설명
 
 - SVD : 행렬 분해를 통한 잠재 요인 협업 필터링을 위한 SVD 알고리즘.
 - KNNBasic : 최근접 이웃 협업 필터링을 위한 KNN 알고리즘.
 - BaselineOnly : 사용자 Bias와 아이템 Bias를 감안한 SGD 베이스라인 알고리즘.
 
 이 밖에도  SVD++, NMF 등 다양한 유형의 알고리즘을 수행할 수 있다. 지원 알고리즘은 surprise 사이트 문서에서 참조 가능
 
 http://surprise.readthedocs.io/en/stable/prediction_algorithms_package.html).
 
 
 Surprise SVD의 비용 함수는 사용자 베이스라인 편향성을 감안한 평점 에측에 Regularization을 적용한 것.
 
 SVD 클래스의 입력 파라미터는 다음과 같다. 주로 n_factors와 n_epochs의 값을 변경해 튜닝할 수 있으나 튜닝효과는 크지 않다. biased의 경우는 큰 이슈가 없는 한 디폴트인 True로 설정을 유지하는 것이 좋다.
 
 파라미터명 과 내용
 
 - n_factors : 잠재 요인 K의 개수. 디폴트는 100. 커질수록 정확도가 높아질 수 있으나 과적합 문제가 발생할 수 있다.
 - n_epochs : SGD 수행 시 반복 횟수. 디폴트느 20
 - biased(bool) : 베이스라인 사용자 편향 적용 여부이며, 디폴트는 True.
 
 
 추천 알고리즘의 예측 성능 벤치마크 결과는 http://surpriselib.com/ 에서 확인가능 !
 
 
 SVD++ 알고리즘의 RMSE, MAE 성적이 가장 좋지만, 상대적으로 시간이 너무 오래 걸려 데이터가 조금만 더 커져도 사용하기가 어려움. SVD==를 제외하면 SVD와 K-NN Baseline이 가장 성능 평가 수치가 좋음.

## 베이스라인 평점

베이스라인 평점(Baseline Rating) : 한 개인의 성향을 반영해 아이템 평가에 편향성(bias)요소를 반영하여 평점을 부과하는 것.

보통 베이스라인 평점은 전체 평균 평점 + 사용자 편향 점수 + 아이템 편향 점수 공식으로 계산된다.

- 전체 평균 평점 : 모든 사용자의 아이템에 대한 평점을 평균한 값
- 사용자 편향 점수 : (사용자별 아이템 평점 평균 값 - 전체 평균 평점)
- 아이템 편향 점수 : (아이템 평점 평균 값 - 전체 평균 평점)

베이스 라인 평점 = (전체 평균 평점 + 사용자 편향 점수 + 아이템 편향 점수)

# 교차 검증과 하이퍼 파라미터튜닝

In [57]:
from surprise.model_selection import cross_validate 

# Pandas DataFrame에서 Surprise Dataset으로 데이터 로딩 
ratings = pd.read_csv('ml-latest-small/ml-latest-small/ratings.csv') # reading data in pandas df
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

algo = SVD(random_state=0) 
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8724  0.8729  0.8735  0.8726  0.8834  0.8750  0.0042
MAE (testset)     0.6709  0.6706  0.6680  0.6725  0.6800  0.6724  0.0041
Fit time          4.76    4.54    4.79    4.79    4.80    4.73    0.10
Test time         0.12    0.21    0.12    0.12    0.18    0.15    0.04

{'test_rmse': array([0.8724035 , 0.87288946, 0.87345643, 0.87262857, 0.88337819]),
 'test_mae': array([0.67085041, 0.67056714, 0.66798929, 0.67254846, 0.6800387 ]),
 'fit_time': (4.7552831172943115,
  4.538818359375,
  4.794220685958862,
  4.785256862640381,
  4.8001625537872314),
 'test_time': (0.12271666526794434,
  0.21342921257019043,
  0.11963486671447754,
  0.11567521095275879,
  0.18151521682739258)}

In [58]:
from surprise.model_selection import GridSearchCV

# 최적화할 파라미터들을 딕셔너리 형태로 지정. 
param_grid = {'n_epochs': [20, 40, 60], 'n_factors': [50, 100, 200] }

# CV를 3개 폴드 세트로 지정, 성능 평가는 rmse, mse 로 수행 하도록 GridSearchCV 구성
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)
gs.fit(data)

# 최고 RMSE Evaluation 점수와 그때의 하이퍼 파라미터
print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

0.8783763629335608
{'n_epochs': 20, 'n_factors': 50}

# Surprise를 이용한 개인화 영화 추천 시스템 구축


이번에는 Surprise 패키지로 학습된 추천 알고리즘을 기반으로 특정 사용자가 아직 평점을 매기지 않은(관람하지 않은) 영화 중에서 개인 취향에 가장 적절한 영화를 추천.

이번예제에는 ratings.csv 데이터를 학습 데이터와 테스트 데이터로 분리하지 않고 전체를 학습 데이터로 사용. 그런데 Surprise는 데이터 세트를 train_test_split()을 이용해 내부에서 사용하는 TrainSet클래스 객체로 변환하지 않으면 fit()을 통해 학습할 수가 없다. 따라서 데이터 세트를 그대로 fit()에 적용한 아래 코드는 오류가 발생한다.

In [60]:
# 아래 코드는 train_test_split( )으로 분리되지 않는 Dataset에 fit( )을 호출하여 오류를 발생합니다.
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
algo = SVD(n_factors=50, random_state=0)
algo.fit(data)

AttributeError: 'DatasetAutoFolds' object has no attribute 'global_mean'

데이터 세트 전체를 학습 데이터로 사용하려면 DatasetAutoFolds 클래스를 이용하면 된다. DatasetAutoFolds 객체를 생성한 뒤에 build_full_trainset() 메서드를 호출하면 전체 데이터를 학습 데이터세트로 만들 수 있다.

In [62]:
from surprise.dataset import DatasetAutoFolds

reader = Reader(line_format='user item rating timestamp', sep=',', rating_scale=(0.5, 5))
# DatasetAutoFolds 클래스를 ratings_noh.csv 파일 기반으로 생성. 
data_folds = DatasetAutoFolds(ratings_file='ml-latest-small/ml-latest-small/ratings_noh.csv', reader=reader)

#전체 데이터를 학습데이터로 생성함. 
trainset = data_folds.build_full_trainset()

DatasetAutoFolds의 build_full_trainset() 메서드르 ㄹ이용해 생성된 학습 데이터를 기반으로 학습을 수행. 그 이후 특정 사용자에 영화를 추천하기위해 아직 보지 않은 영화목록을 확인.

In [64]:
algo = SVD(n_epochs=20, n_factors=50, random_state=0)
algo.fit(trainset)

In [65]:
# 영화에 대한 상세 속성 정보 DataFrame로딩
movies = pd.read_csv('ml-latest-small/ml-latest-small/movies.csv')

# userId=9 의 movieId 데이터 추출하여 movieId=42 데이터가 있는지 확인. 
movieIds = ratings[ratings['userId']==9]['movieId']
if movieIds[movieIds==42].count() == 0:
    print('사용자 아이디 9는 영화 아이디 42의 평점 없음')

print(movies[movies['movieId']==42])

사용자 아이디 9는 영화 아이디 42의 평점 없음
    movieId                   title              genres
38       42  Dead Presidents (1995)  Action|Crime|Drama

predict() 사용.

In [66]:
'''
추천 예측 평점 est 3.13 으로 에측
'''

uid = str(9)
iid = str(42)

pred = algo.predict(uid, iid, verbose=True)

user: 9          item: 42         r_ui = None   est = 3.13   {'was_impossible': False}

Surprise 내부의 데이터 객체에 대한 액세스 제약 등으로 인해 앞 절에서 사용한 get_unseen_movies()는 사용하지 않고 새롭게 get_unseen_surprise() 함수를 만들고 이를 이용해 아이디 9인 사용자가 아직 평점을 매기지 않은 영화 정보를 반환

In [68]:
def get_unseen_surprise(ratings, movies, userId):
    #입력값으로 들어온 userId에 해당하는 사용자가 평점을 매긴 모든 영화를 리스트로 생성
    seen_movies = ratings[ratings['userId']== userId]['movieId'].tolist()
    
    # 모든 영화들의 movieId를 리스트로 생성. 
    total_movies = movies['movieId'].tolist()
    
    # 모든 영화들의 movieId중 이미 평점을 매긴 영화의 movieId를 제외하여 리스트로 생성
    unseen_movies= [movie for movie in total_movies if movie not in seen_movies]
    print('평점 매긴 영화수:',len(seen_movies), '추천대상 영화수:',len(unseen_movies), \
          '전체 영화수:',len(total_movies))
    
    return unseen_movies

unseen_movies = get_unseen_surprise(ratings, movies, 9)

평점 매긴 영화수: 46 추천대상 영화수: 9696 전체 영화수: 9742

recomm_movie_by_surprise() 는 추천 대상 영화 모두를 대상으로 추천 알고리즘 객체의 predict() 메서드를 호출하고 그 결과인 Predicttion 객체를 리스트 객체로 저장한다. 그리고 이렇게 저장된 리스트 내부의 Prediction 객체를 예측 평점이 높은 순으로 다시 정렬한 뒤 TOP-N개의 Prediction 객체에서 영화 아이디, 영화 제목, 예측 평점 정보를 추출해 반환한다.

In [69]:
def recomm_movie_by_surprise(algo, userId, unseen_movies, top_n=10):
    # 알고리즘 객체의 predict() 메서드를 평점이 없는 영화에 반복 수행한 후 결과를 list 객체로 저장
    predictions = [algo.predict(str(userId), str(movieId)) for movieId in unseen_movies]
    
    # predictions list 객체는 surprise의 Predictions 객체를 원소로 가지고 있음.
    # [Prediction(uid='9', iid='1', est=3.69), Prediction(uid='9', iid='2', est=2.98),,,,]
    # 이를 est 값으로 정렬하기 위해서 아래의 sortkey_est 함수를 정의함.
    # sortkey_est 함수는 list 객체의 sort() 함수의 키 값으로 사용되어 정렬 수행.
    def sortkey_est(pred):
        return pred.est
    
    # sortkey_est( ) 반환값의 내림 차순으로 정렬 수행하고 top_n개의 최상위 값 추출.
    predictions.sort(key=sortkey_est, reverse=True)
    top_predictions= predictions[:top_n]
    
    # top_n으로 추출된 영화의 정보 추출. 영화 아이디, 추천 예상 평점, 제목 추출
    top_movie_ids = [ int(pred.iid) for pred in top_predictions]
    top_movie_rating = [ pred.est for pred in top_predictions]
    top_movie_titles = movies[movies.movieId.isin(top_movie_ids)]['title']
    top_movie_preds = [ (id, title, rating) for id, title, rating in zip(top_movie_ids, top_movie_titles, top_movie_rating)]
    
    return top_movie_preds

unseen_movies = get_unseen_surprise(ratings, movies, 9)
top_movie_preds = recomm_movie_by_surprise(algo, 9, unseen_movies, top_n=10)
print('##### Top-10 추천 영화 리스트 #####')

for top_movie in top_movie_preds:
    print(top_movie[1], ":", top_movie[2])

평점 매긴 영화수: 46 추천대상 영화수: 9696 전체 영화수: 9742
##### Top-10 추천 영화 리스트 #####
Usual Suspects, The (1995) : 4.306302135700814
Star Wars: Episode IV - A New Hope (1977) : 4.281663842987387
Pulp Fiction (1994) : 4.278152632122759
Silence of the Lambs, The (1991) : 4.226073566460876
Godfather, The (1972) : 4.1918097904381995
Streetcar Named Desire, A (1951) : 4.154746591122658
Star Wars: Episode V - The Empire Strikes Back (1980) : 4.122016128534504
Star Wars: Episode VI - Return of the Jedi (1983) : 4.108009609093436
Goodfellas (1990) : 4.083464936588478
Glory (1989) : 4.07887165526957

이처럼 Surprise 패키지는 복잡한 알고리즘을 직접 구현하지 않고도 쉽고 간결한 API를 이용해 파이썬 기반에서 추천 시스템을 구축할 수 있도록 해준다.

# 09 정리

추천시스템은 기업 애플리케이션에서 매우 중요한 위치를 차지하고 있다. 특히 온라인 스토어의 겨웅 뛰어난 추천 시스템은 매출 향상으로 이어지는 ㅁ낳은 사례로 인해 많은 기업들이 추천 시스템의 예측 성능을 향상시키기 위해 알고리즘과 데이터 수집에 노력을 기울이고 있다.


추천시스템의 대표적인 방식인 콘텐츠 기반 필터링과 협업 필터링을 배웠다. 콘텐츠 기반 필터링은 아이템(상품,영화,서비스 등)을 구성하는 여러 가지 콘텐츠 중 사용자가 좋아하는 콘텐츠를 필터링하여 이에 맞는 아이템을 추천하는 방식이다. 예를 들어 영화 추천의 경우 사용자가 좋아하는 영화를 분석한 뒤, 이 영화의 콘텐츠와 유사한 다른 영화를 추천하는 것이다. 영화의 경우 이러한 콘텐츠의 예는 장르,감독, 영화배우, 영화 키워드와 같은 요소들이 될 수 있다. 이들 요소들을 결합하여, 하나의 콘테츠 특징으로 피처 벡터화한 뒤에 이들 피처 벡터와 가장 유사한 다른 피처 벡터를 가진 영화를 추천하는 것이다.


협업 필터링은 1. 최근접 이웃 협업 필터링과 2. 잠재 요인 협업 필터링으로 나뉜다. 최근접 이웃 협업 필터링은 다시 사용자 기반(사용자 - 사용자)과 아이템 기반(아이템 - 아이템) 으로 나뉘며 ,이중 아이템 깁나이 더 많이 사용된다. 아이템 기반 최근접 이웃 방식은 특정 아이템과 가장 근접하게 유사한 다른 아이템들을 추천하는 방식이다 .이 유사도의 기준이 되는 것은 사용자들의 아이템에 대한 평가를 벡터화한 값이다. 이를 위해 모든 아이템을 행으로 ,모든 사용자를 열로, 그리고 사용자별- 아이템 평점을 값으로 하는 아이템-사용자 행렬 데이터 세트를 만들고, 아이템 별로 코사인 유사도를 이용해 사용자 평점 피처 벡터에 따른 TOP-N 유사 아이템을 추천하는 예제를 구현했다.


잠재 요인 협업 필터링은 많은 추천 시스템에서 활용하는 방식이다. 사용자- 아이템 평점 행렬 데이터에 숨어 있는 잠재 요인을 추출하여 사용자가 아직 평점을 매기지 않은 아이템에 대한 평점을 예측하여 이를 추천에 반영하는 방식이다. 이렇게 잠재 요인을 추출하기 위해서 다차원의 사용자-아이템 평점 행렬을 저차우너의 사용자- 잠재요인, 아이템- 잠재요인 행렬로 분해하는데, 이러한 기법을 행렬 분해라고 한다. 그리고 이러한 행렬 분해 기법을 경사하강법으로 구현한 예제를 실습했다.


마지막으로 파이썬의 추천 시스템 패키지 중 하나인 Surprise를 다뤘다. Surprise는 사이킷런과 유사한 API를 지향하며, 간단한 API만을 이용해 파이썬 기반에 추천 시스템을 구현해 준다. 추천 시스템이 가지는 엄청난 가치로 인해 많은 기업들이 이의 추천 예측 성능 향상을 위해 엄청난 노력을 기울이고 잇다. 이를 위해 추천시스템 기반지삭과 구현 로직에 대한 철저한 이해가 필수이다.